<div class="page-controls navbar navbar-dashboard">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" [routerLink]=" ['/dashboard']" >Home</a>
        <span class="breadcrumb-item active">Danh sách phiếu</span>
    </nav>
</div>

<div class="container-fluid has-breadcrumb">
	<div class="row">
		<div class="col-lg-12">
			<section class="widget" widget>
                <div class="dropdown show" style="position: absolute; margin-top: 10px" >
                    <a class="btn btn btn-primary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;">Thêm mới</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="dropdown-item" [routerLink]="['/phieu-nhap-xuat/them-moi']">Phiếu nhập xuất</li>
                        <li class="dropdown-item" [routerLink]="['/phieu-chuyen-kho/them-moi']">Phiếu chuyển kho</li>
                    </ul>
                </div>

                <div class="form-filter col-md-8 pull-right">
                    <form #form="ngForm" (ngSubmit)="onFiltered(from, to, type, verify_status)" style="display: inline-block; float: right">
                        <div class="filter_list">
                            <div class="row filter-result">
                                <div class="col-md-6 input-group input-daterange" id="datepicker" style="max-height: 35px">
                                    <input type="text" placeholder="Tạo từ ngày" data-provide="datepicker" data-date-format="dd-mm-yyyy" value="{{time.from}}" class="form-control" #from>
                                    <div style="padding: 5px 10px!important; margin: 0 !important;" class="input-group-addon">to</div>
                                    <input type="text" placeholder="Đến ngày" data-provide="datepicker" data-date-format="dd-mm-yyyy" value="{{time.to}}" class="form-control" #to>
                                </div>
                                <div class="col-md-3 form-group pull-left no-padding">
                                    <select class="form-control" id="sel1" #type>
                                        <option value=""  [selected]="time.type== '' ">Loại phiếu</option>
                                        <option value="1" [selected]="time.type==1">Nhập từ nhà cung cấp</option>
                                        <option value="2" [selected]="time.type==2">Nhập chuyển kho</option>
                                        <option value="3" [selected]="time.type==3">Xuất trả nhà cung cấp</option>
                                        <option value="4" [selected]="time.type==4">Xuất lẻ</option>
                                        <option value="5" [selected]="time.type==5">Xuất buôn</option>
                                        <option value="6" [selected]="time.type==6">Xuất chuyển kho</option>
                                        <option value="7" [selected]="time.type==7">Nhập xuất đổi trả</option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group pull-left">
                                    <select class="form-control pull-right" #verify_status>
                                        <option value="" [selected]="time.verify_status== '' ">Trạng thái</option>
                                        <option value="0" [selected]="time.verify_status==0">Chưa duyệt</option>
                                        <option value="1" [selected]="time.verify_status==1">Đã duyệt</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 pull-right" style="padding-right: 0;">
                            <button class="btn btn-success pull-right" type="submit" >Lọc</button>
                        </div>
                    </form>
                </div>
				<div class="widget-body">
					<pos-table
                        [settings]="settings"
                        [data]="data"
                        (pageChanged)="pageChanged($event)"
                        (sortChanged)="sortChanged($event)"
                        (filterChanged)="filterChanged($event)">
					</pos-table>
				</div>
			</section>
		</div>
	</div>
</div>
<div id="loader" *ngIf="showLoading"></div>