<simple-notifications [options]="optionsNoti"></simple-notifications>
<div class="page-controls navbar navbar-dashboard">
    <div class="container-fluid">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <template #sidebarToggleTooltip>
                        Turn on/off <br> sidebar <br>collapsing
                    </template>
                    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                    <a class="nav-link hidden-md-down" tooltipPlacement="bottom">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <!-- shown on xs & sm screen. collapses and expands navigation -->
                    <a (click)="toggleSidebar('collapse')" class="hidden-lg-up nav-link" href="#" data-html="true"
                       title="Show/hide<br>sidebar" data-placement="bottom">
                        <span class="rounded rounded-lg bg-gray text-white hidden-md-up"><i
                                class="fa fa-bars fa-lg"></i></span>
                        <i class="fa fa-bars fa-lg hidden-sm-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="chose_product">
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Chọn sản phẩm</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<section class="widget" widget>
								<div class="widget-body">
									<pos-table
											[settings]="settings"
											[data]="data"
											(pageChanged)="pageChanged($event)"
											(sortChanged)="sortChanged($event)"
											(filterChanged)="filterChanged($event)">
									</pos-table>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid has-breadcrumb">
    <div class="row">
        <div class="col-lg-12">
            <section class="widget" widget>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label style="font-weight: bold">Số ngày lấy dữ liệu (t)</label>
                            <input type="text" class="form-control" [(ngModel)]="totalDayGetData">
                        </div>
                        <div class="col-lg-3">
                            <label style="font-weight: bold">Số ngày để bán hết (B)</label>
                            <input type="text" class="form-control" [(ngModel)]="totalDaySoldOut">
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary" (click)="calculateImporting()"
                                    style="margin-top: 28px">Tính số nhập
                            </button>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-lg-3">
                            <select class="form-control" [(ngModel)]="type">
                                <option value="1" [attr.selected]="type == 1">Sản phẩm đang bán</option>
                                <option value="2" [attr.selected]="type == 2">Sản phẩm mới</option>
                            </select>
                        </div>
                        <div class="col-lg-3" *ngIf="type == 2">
                            <select class="form-control select-new-type" [(ngModel)]="new_type" (change)="onChangeNewType($event)">
                                <option value="0" [attr.selected]="new_type == 0">Chọn cách tính</option>
                                <option value="1" [attr.selected]="new_type == 1">Tính theo Category</option>
                                <option value="2" [attr.selected]="new_type == 2">Tính theo Tag</option>
                                <option value="3" [attr.selected]="new_type == 3">List Sản phẩm</option>
                            </select>
                        </div>
                        <div class="col-lg-3" [hidden]="type == 1" [ngClass]="(new_type==1 || new_type ==2)?'':'z-hidden'">
                            <select class="form-control select2-type" #selector  multiple="multiple" (change)="onChangeTags($event)">
                                <option *ngFor="let item of dataOption" [attr.value]="item.id">{{item.text}}</option>
                            </select>
                        </div>
						<div class="col-lg-3" [hidden]="!ShowTSforNewCategory">
                            <input type="text" class="form-control" [(ngModel)]="TSforNewCategory" placeholder="Tỷ suất ước lượng cho category mới">
                        </div>
                        <div class="col-lg-2" *ngIf="type == 1 || new_type == 3">
                            <button type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#myModal" (click)="onClickOpenModal()">Chọn sản phẩm
                            </button>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </section>
        </div>
    </div>
	
	<div class="row" [hidden]="type == 1 || htmlResult == ''">
        <div class="col-lg-12">
            <section class="widget" widget>
                <div class="widget-body">
                    <div [innerHTML]="htmlResult"></div>
                </div>
            </section>
        </div>
    </div>
	
    <div class="row" *ngIf="idChecked!='' && (type == 1 || new_type == 3)">
        <div class="col-lg-12">
            <section class="widget" widget>
                <div class="widget-body">
                    <pos-table
                            [settings]="settings2"
                            [data]="list_product_id"
                            [changeComponent]="changeComponent"
                            (pageChanged)="pageChanged($event)"
                            (sortChanged)="sortChanged($event)"
                            (filterChanged)="filterChanged($event)"
                    >
                    </pos-table>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="loader" *ngIf="showLoading"></div>