<div class="container">
  <main id="content" class="error-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <div class="error-container">
          <h4 class="error-code">404</h4>
          <p class="error-info">
            Xin lỗi, trang bạn tìm không tồn tại !
          </p>
          <p class="error-help mb">
            Bạn có thể tìm kiếm tại đây !
          </p>
          <form (ngSubmit)="searchResult()" method="get">
            <div class="form-group">
              <input class="form-control input-no-border" type="text" placeholder="Tìm kiếm tại đây">
            </div>
            <button type="submit"  class="btn btn-inverse">
              Search <i class="fa fa-search text-warning ml-xs"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer">
    2016 &copy; POS SYSTEM
  </footer>
</div>
