<simple-notifications [options]="optionsNoti"></simple-notifications>
<div class="page-controls navbar navbar-dashboard">
    <div class="container-fluid">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <template #sidebarToggleTooltip>
                        Turn on/off <br> sidebar <br>collapsing
                    </template>
                    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                    <a class="nav-link hidden-md-down" tooltipPlacement="bottom">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <!-- shown on xs & sm screen. collapses and expands navigation -->
                    <a (click)="toggleSidebar('collapse')" class="hidden-lg-up nav-link" href="#" data-html="true"
                       title="Show/hide<br>sidebar" data-placement="bottom">
                        <span class="rounded rounded-lg bg-gray text-white hidden-md-up"><i
                                class="fa fa-bars fa-lg"></i></span>
                        <i class="fa fa-bars fa-lg hidden-sm-down"></i>
                    </a>
                </li>
                <li class="nav-item ml-sm hidden-sm-down"><a class="nav-link" href="#"><i
                        class="fa fa-refresh fa-lg"></i></a></li>
                <li class="nav-item ml-n-xs hidden-sm-down"><a class="nav-link" href="#"><i
                        class="fa fa-times fa-lg"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-md-up">
                <li class="nav-item">
                    <!-- toggles chat -->
                    <a class="nav-link" href="#">
                        <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
                    </a>
                </li>
            </ul>
            <a class="navbar-brand hidden-md-up" [routerLink]=" ['/app/dashboard'] ">
                <i class="fa fa-circle text-gray mr-n-sm"></i>
                <i class="fa fa-circle text-warning"></i>
                &nbsp;
                Config.Name
                &nbsp;
                <i class="fa fa-circle text-warning mr-n-sm"></i>
                <i class="fa fa-circle text-gray"></i>
            </a>
        </div>

        <!-- this part is hidden for xs screens -->
        <div class="collapse navbar-collapse">
            <!-- search form! link it to your search server -->
            <form class="navbar-form pull-xs-left" role="search">
                <div class="form-group">
                    <div class="input-group input-group-no-border">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
                        <input class="form-control" type="text" placeholder="Search Dashboard">
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-notifications"
                       id="notifications-dropdown-toggle" data-toggle="dropdown">
					<span class="thumb-sm avatar pull-xs-left">
						<img class="img-circle" src="assets/img/people/a5.jpg" alt="...">
					</span>
                        &nbsp;
                        Philip <strong>Smith</strong>&nbsp;
                        <span class="circle bg-warning fw-bold">
						13
					</span>
                        <b class="caret"></b>
                    </a>
                    <!-- ready to use notifications dropdown. inspired by smartadmin template.
                                 consists of three components:
                                 notifications, messages, progress. leave or add what's important for you.
                                 uses Sing's ajax-load plugin for async content loading. See #load-notifications-btn -->
                    <div notifications class="dropdown-menu dropdown-menu-right animated animated-fast fadeInUp"
                    ></div>
                </li>
                <li class="nav-item dropdown">
                    <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; My Account</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" [routerLink]=" ['/error'] ">Calendar</a></li>
                        <li><a class="dropdown-item" [routerLink]=" ['/error'] ">Inbox &nbsp;&nbsp;<span
                                class="badge label-pill bg-danger text-white animated bounceIn">9</span></a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="toggle-chat">
                        <i class="fa fa-globe fa-lg"></i>
                    </a>
                    <div id="chat-notification" class="chat-notification hide">
                        <div class="chat-notification-inner">
                            <h6 class="title">
				  <span class="thumb-xs">
					  <img src="assets/img/people/a6.jpg" class="img-circle mr-xs pull-xs-left">
				  </span>
                                Jess Smith
                            </h6>
                            <p class="text">Hi there! <br> This is a completely new version of Sing App <br> built with
                                <strong class="text-danger">Angular 2.0 Final Release</strong></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top: 70px;">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <section class="widget" widget>
                <div class="widget-body">
                    <pos-table
                            [settings]="settings"
                            [data]="data"
                            (pageChanged)="pageChanged($event)"
                            (sortChanged)="sortChanged($event)"
                            (filterChanged)="filterChanged($event)"
                    ></pos-table>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="loader" *ngIf="showLoading"></div>


