.filter-product{
  border:1px solid #d3dbe2;
  background-color: #ffffff;
  padding: 0 15px;
  vertical-align: -webkit-baseline-middle;
  line-height: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.popover{
  max-width: 100% !important;
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 10px 15px;
  left: 20px !important;
  box-shadow: 3px 3px 10px #ccc;
  margin-top: 10px;
  .popover-title{
    border: none;
    background-color: #ffffff;
  }
  .arrow {
    background: #fff;
  }
  .arrow:after, .arrow:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
  }
  .arrow:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: 8px;
  }
  .arrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 11px;
    margin-left: 7px;
  }
  .popover-content{
    padding: 9px 14px;
  }
}
.add-filter {
  float: left;
  margin-right: 10px;
}
.input-search{
  border-left: none;
}
.search-addon{
  background: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
  border-color: #999 transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  height: 0;
  left: 0;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
  position: absolute;
  bottom: 0;
  right: 12px;
  top: 0;
  width: 4px;
}

.select2-container--bootstrap .select2-selection {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #555555;
  font-size: 1rem;
  outline: 0;
  line-height: 1.5;
  padding: 6px 24px 6px 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 35px !important;
  user-select: none;
  -webkit-user-select: none;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}