<div class="row">
    <div class="col-md-3" >
        <div>
        <Tree
                #tree
                [nodes]="nodes"
                [focused]="true"
                [options]="customTemplateStringOptions"
                (onEvent)="onEvent($event)"
                (onUpdateData)="expand(tree)"
        >
            <template #treeNodeTemplate let-node>
                <span class="node-name" name="node-name" title="{{node.data.subTitle}}" (click)="go(node.data.id,node.data.name,node.data.subTitle,node.data.parent)"><strong>{{node.data.name}}</strong></span>
            </template>

        </Tree>

        <br><br>

        <button class="btn btn-success" (click)="addTree(idCat.value)">Thêm danh mục</button>
            <button class="btn btn-danger" (click)="deleteCat(idCat.value,tree)">Xóa danh mục</button>
        </div>
    </div>
    <div class="col-md-8">
        <div class="section">
            <form class="create-form mt-lg" #createForm="ngForm" (ngSubmit)="saveCat(createForm,tree)">
            <div class="items over-view">
                <div class="col-md-10 over-label over-left">
                    <label class="control-label" >Tên danh mục</label>
                    <div class="input-group">
                        <input type="hidden" class="form-control" placeholder="a"  [(ngModel)]="model.idCat"  name="idCat" #idCat>
                        <input type="text"  required class="form-control"  placeholder="Tên" [(ngModel)]="model.nameCat" name="nameCat" #nameCat>
                    </div>
                </div>
                <br>
                <div class="col-md-10 over-label over-right">
                    <label class="control-label" >Danh mục cha</label>
                    <div class="input-group">
                        <select name="parentCat" [(ngModel)]="model.parentCat" class="parent" #parentCat>
                            <option value="0" selected>Danh mục gốc</option>
                            <option *ngFor="let parent of parents" [value]="parent.id" [selected]="model.parentCat == parent.id">
                                <strong>{{parent.name}}</strong>
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="col-md-10 over-label over-right">
                    <label class="control-label" >Mô tả</label>
                    <div class="input-group">
                        <input type="text"  class="form-control"  placeholder="Mô tả" [(ngModel)]="model.description" name="description" #description>
                    </div>
                </div>
                <br>
                <div class="col-md-10 over-label over-right">
                    <button type="submit" class="btn btn-primary">Lưu danh mục</button>

                </div>
            </div>
    </form>
            <br>
            <div *ngIf="message" class="alert alert-success">
                <strong>{{message}}</strong>
            </div>
            <div *ngIf="warning" class="alert alert-warning">
                <strong>{{warning}}</strong>
            </div>
            <div *ngIf="danger" class="alert alert-danger">
                <strong>{{danger}}</strong>
            </div>
    </div>
</div>
    </div>


