<ol class="breadcrumb">
  <li class="breadcrumb-item">Customers</li>
  <li class="breadcrumb-item active">Customers list</li>
</ol>
<form class="navbar-form ng-pristine ng-valid" role="search">
  <div class="form-group">
    <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
      <input class="form-control" placeholder="Search Customer" type="text">
    </div>
  </div>
</form>
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <section class="widget" widget>
      <div class="widget-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of datas; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phone}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
