<div class="page-controls navbar navbar-dashboard">
  <div class="container-fluid">
    <!-- .navbar-header contains links seen on xs & sm screens -->
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <template #sidebarToggleTooltip>
            Turn on/off <br> sidebar <br>collapsing
          </template>
          <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
          <a class="nav-link hidden-md-down" tooltipPlacement="bottom">
            <i class="fa fa-bars fa-lg"></i>
          </a>
          <!-- shown on xs & sm screen. collapses and expands navigation -->
          <a (click)="toggleSidebar('collapse')" class="hidden-lg-up nav-link" href="#" data-html="true" title="Show/hide<br>sidebar" data-placement="bottom">
            <span class="rounded rounded-lg bg-gray text-white hidden-md-up"><i class="fa fa-bars fa-lg"></i></span>
            <i class="fa fa-bars fa-lg hidden-sm-down"></i>
          </a>
        </li>
        <li class="nav-item ml-sm hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-refresh fa-lg"></i></a></li>
        <li class="nav-item ml-n-xs hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-times fa-lg"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-md-up">
        <li class="nav-item">
          <!-- toggles chat -->
          <a class="nav-link" href="#">
            <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
          </a>
        </li>
      </ul>
      <a class="navbar-brand hidden-md-up" [routerLink]=" ['/app/dashboard'] ">
        <i class="fa fa-circle text-gray mr-n-sm"></i>
        <i class="fa fa-circle text-warning"></i>
        &nbsp;
        Config.Name
        &nbsp;
        <i class="fa fa-circle text-warning mr-n-sm"></i>
        <i class="fa fa-circle text-gray"></i>
      </a>
    </div>

    <!-- this part is hidden for xs screens -->
    <div class="collapse navbar-collapse">
      <!-- search form! link it to your search server -->
      <form class="navbar-form pull-xs-left" role="search">
        <div class="form-group">
          <div class="input-group input-group-no-border">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
            <input class="form-control" type="text" placeholder="Search Dashboard">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid has-breadcrumb">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <section class="widget" widget>
        <div class="widget-body">
          <br><br>
          <h3><a class="btn btn-success" (click)="onCreate()" style="color: #fff;">Thêm mới</a></h3>
          <div class="table-responsive">
            <form #searchForm="ngForm" (change)="onChange(searchForm)">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td><input class="form-control" [(ngModel)]="name" name="name"></td>
                  <td><input class="form-control" [(ngModel)]="email" name="email"></td>
                  <td><input class="form-control" [(ngModel)]="phone" name="phone"></td>
                  <td></td>
                </tr>
                <tr *ngFor="let item of datas; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone}}</td>
                  <td><a class="glyphicon glyphicon-pencil" (click)="onEdit(i)"></a>
                      <a class="glyphicon glyphicon-remove" (click)="onEdit(i)"></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>