<div class="page-controls navbar navbar-dashboard">

    <nav class="breadcrumb">
        <a class="breadcrumb-item" [routerLink]=" ['/dashboard']" >Home</a>
        <a class="breadcrumb-item" [routerLink]=" ['/canh-bao-nhap-hang']">Cảnh báo nhập hàng</a>
        <span class="breadcrumb-item active">Chi tiết</span>
        <span class="breadcrumb-item active">{{cronId}}</span>
    </nav>
</div>


<div class="container-fluid has-breadcrumb">
	<div class="row">
		<div class="col-lg-12">
			<section class="widget" widget>
				<div class="widget-body">
					<pos-table
                        [settings]="settings"
                        [data]="data"
                        (pageChanged)="pageChanged($event)"
                        (sortChanged)="sortChanged($event)"
                        (filterChanged)="filterChanged($event)">
					</pos-table>
				</div>
			</section>
		</div>
	</div>
</div>
<div id="loader" *ngIf="showLoading"></div>