
.suggestions{
  position: absolute;
  z-index : 1;
  border-style: solid;
  border-width: 1px;
  border-color: #00b3ee;
  background-color: white;
  display: block;
  overflow: auto;
  height: 190px;
  width: 95%;
  overflow-y: scroll;
  border-radius: 2px;
}
.suggestions ul{
  list-style: none;
}
.save{
  margin-top: -30px;
}
.danger{
  margin-top: -20px;
}
#suggest::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#suggest::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#suggest::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #c0bdb3;
}
