@import "../../scss/form/two_column";

.col-md-8.customer-overview-info {
  background: white;
  margin-left: -30px;
  margin-top: -20px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
div.section{
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}
div.items{
  overflow: hidden;
  padding-left: 30px;
  padding-top: 15px;
}
.row.customer-overview{
  border-bottom: 1px solid #d3dbe2;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.over-label {
  float: left;
}
.over-label.over-right {
  float: right;
}
.over-label.over-left {
  margin-left: -30px;
}
.form-group.over-add {
  margin-left: -17px;
  width: 100%;
}
.col-md-4.customer-overview-label {
  margin-top: 10px;
  padding-left: 15px;
}
.save-customer{
  float: right;
  margin-right: 15px;
  margin-top: 0px;
}
.abc-checkbox.abc-checkbox-primary {
  margin-left: -33px;
}
.col-md-6.flict {
  float: left;
}
label.control-label.policy {
  margin-top: 0px;
}
.input-group.sel-op {
  width: 327px;
}
.items.over-view {
  padding-left: 0 !important;
}
.alert.alert-danger {
  margin-left: -18px;
  width: 100%;
}
.alert.alert-danger.danger-sm {
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
}
.alert.alert-danger.danger-pdw {
  margin-top: 10px;
  margin-left: 0;
  width: 328px;
}
.store{
  margin-top: -15px;
}








