<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <section class="widget widget-login animated fadeInUp">
          <div id="loader" *ngIf="loading"></div>
          <header>
            <h3>Đăng nhập vào hệ thống</h3>
          </header>

          <div class="widget-body">
            <div class="alert alert-danger fade in alert-dismissable" *ngIf="message!=null">
              {{message}}
            </div>
            <p class="alert-success"><strong>{{register}}</strong>
            </p>
            <form class="login-form mt-lg" #loginForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tên đăng nhập" [(ngModel)]="model.email" name="email">
              </div>
              <div class="form-group">
                <input class="form-control" id="pswd" type="password" placeholder="Mật khẩu" [(ngModel)]="model.password" name="password">
              </div>
              <div class="clearfix">
                <div class="btn-toolbar pull-xs-right m-t-1">
                  <button type="button"  class="btn btn-secondary btn-sm" [routerLink]="['/register']">Đăng ký</button>
                  <button type="submit" class="btn btn-inverse btn-sm">Đăng nhập</button>
                </div>
              </div>
              <div class="row m-t-1">
                <div class="col-md-6 push-md-6">
                  <div class="clearfix">
                    <div class="abc-checkbox widget-login-info pull-xs-right">
                      <input type="checkbox" id="checkbox1" value="1">
                      <label for="checkbox1">Ghi nhớ đăng nhập</label>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 pull-md-6">
                  <a class="mr-n-lg" href="#">Quên mật khẩu?</a>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    2016 &copy; POS SYSYEM
  </footer>
</div>

