
<div class="page-controls navbar navbar-dashboard">
	<div class="container-fluid">
	  <!-- .navbar-header contains links seen on xs & sm screens -->
	  <div class="navbar-header">
		<ul class="nav navbar-nav">
		  <li class="nav-item">
			<template #sidebarToggleTooltip>
			  Turn on/off <br> sidebar <br>collapsing
			</template>
			<!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
			<a class="nav-link hidden-md-down" tooltipPlacement="bottom">
			  <i class="fa fa-bars fa-lg"></i>
			</a>
			<!-- shown on xs & sm screen. collapses and expands navigation -->
			<a (click)="toggleSidebar('collapse')" class="hidden-lg-up nav-link" href="#" data-html="true" title="Show/hide<br>sidebar" data-placement="bottom">
			  <span class="rounded rounded-lg bg-gray text-white hidden-md-up"><i class="fa fa-bars fa-lg"></i></span>
			  <i class="fa fa-bars fa-lg hidden-sm-down"></i>
			</a>
		  </li>
		  <li class="nav-item ml-sm hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-refresh fa-lg"></i></a></li>
		  <li class="nav-item ml-n-xs hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-times fa-lg"></i></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right hidden-md-up">
		  <li class="nav-item">
			<!-- toggles chat -->
			<a class="nav-link" href="#">
			  <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
			</a>
		  </li>
		</ul>
		<a class="navbar-brand hidden-md-up" [routerLink]=" ['/app/dashboard'] ">
		  <i class="fa fa-circle text-gray mr-n-sm"></i>
		  <i class="fa fa-circle text-warning"></i>
		  &nbsp;
		  Config.Name
		  &nbsp;
		  <i class="fa fa-circle text-warning mr-n-sm"></i>
		  <i class="fa fa-circle text-gray"></i>
		</a>
	  </div>

	  <!-- this part is hidden for xs screens -->
	  <div class="collapse navbar-collapse">
		<!-- search form! link it to your search server -->
		<form class="navbar-form pull-xs-left" role="search">
		  <div class="form-group">
			<div class="input-group input-group-no-border">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
			  <input class="form-control" type="text" placeholder="Search Dashboard">
			</div>
		  </div>
		</form>
		<ul class="nav navbar-nav pull-xs-right">
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle dropdown-toggle-notifications"
			   id="notifications-dropdown-toggle" data-toggle="dropdown">
					<span class="thumb-sm avatar pull-xs-left">
						<img class="img-circle" src="assets/img/people/a5.jpg" alt="...">
					</span>
			  &nbsp;
			  Philip <strong>Smith</strong>&nbsp;
					<span class="circle bg-warning fw-bold">
						13
					</span>
			  <b class="caret"></b>
			</a>
			<!-- ready to use notifications dropdown. inspired by smartadmin template.
						 consists of three components:
						 notifications, messages, progress. leave or add what's important for you.
						 uses Sing's ajax-load plugin for async content loading. See #load-notifications-btn -->
			<div notifications class="dropdown-menu dropdown-menu-right animated animated-fast fadeInUp"
			  ></div>
		  </li>
		  <li class="nav-item dropdown">
			<a href class="nav-link dropdown-toggle" data-toggle="dropdown">
			  <i class="fa fa-cog fa-lg"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
			  <li><a class="dropdown-item" href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; My Account</a></li>
			  <li class="dropdown-divider"></li>
			  <li><a class="dropdown-item" [routerLink]=" ['/error'] ">Calendar</a></li>
			  <li><a class="dropdown-item" [routerLink]=" ['/error'] ">Inbox &nbsp;&nbsp;<span class="badge label-pill bg-danger text-white animated bounceIn">9</span></a></li>
			  <li class="dropdown-divider"></li>
			  <li><a class="dropdown-item"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
			</ul>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#" id="toggle-chat">
			  <i class="fa fa-globe fa-lg"></i>
			</a>
			<div id="chat-notification" class="chat-notification hide">
			  <div class="chat-notification-inner">
				<h6 class="title">
				  <span class="thumb-xs">
					  <img src="assets/img/people/a6.jpg" class="img-circle mr-xs pull-xs-left">
				  </span>
				  Jess Smith
				</h6>
				<p class="text">Hi there! <br> This is a completely new version of Sing App <br> built with <strong class="text-danger">Angular 2.0 Final Release</strong> </p>
			  </div>
			</div>
		  </li>
		</ul>
	  </div>
	</div>
</div>

<div class="container-fluid" style="padding-top: 70px;" *ngIf="(supplierForm!=null)">
	<simple-notifications [options]="optionsNoti"></simple-notifications>
	<form [formGroup]="supplierForm" (ngSubmit)="onSubmit()" class="form-two-cloumn">
		<div class="row block-row">
			<div class="col-md-4 col-lg-3 block-left">
				<h4>Tên nhà cùng cấp</h4>
			</div>
			<div class="col-md-8 col-lg-9 block-right">
				<div class="block-right-content" [ngClass]="{'has-error':(supplierForm.controls['name'].errors!=null && supplierForm.controls['name'].touched)}">
					<label class="control-label">Tên nhà cung cấp</label>
					<input formControlName="name" type="text" class="form-control" placeholder="Tên nhà cung cấp...">
					<control-messages [errors]="supplierForm.controls['name'].errors" [touched]="supplierForm.controls['name'].touched"></control-messages>
				</div>
			</div>
		</div>
		
		<div class="row block-row">
			<div class="col-md-4 col-lg-3 block-left">
				<h4>Địa chỉ</h4>
			</div>
			<div class="col-md-8 col-lg-9 block-right">
				<div class="block-right-content">
					<div class="row">
						<div class="col-md-6" [ngClass]="{'has-error':(supplierForm.controls['province_id'].errors!=null && supplierForm.controls['address'].touched)}">
							<label class="control-label">Tỉnh/Thành phố</label>
							<div class="input-group">
								<pos-dropdown [selected]="idProvince" id="select-province" [linkData]="'http://api-customer.nhabuon.vn/v1/utility/get-province'" [theme]="'bootstrap'"  [firstSelectOption]="'false'" [placeholder]="'Chọn Tỉnh/Thành phố'" (valueChanged)="selectProvince(selectedProvince = $event)"></pos-dropdown>
							</div>
							<control-messages [errors]="supplierForm.controls['province_id'].errors" [touched]="supplierForm.controls['address'].touched"></control-messages>
						</div>

						<div class="col-md-6" [ngClass]="{'has-error':(supplierForm.controls['district_id'].errors!=null && supplierForm.controls['address'].touched)}">
							<label class="control-label">Quận/Huyện</label>
							<div class="input-group">
								<pos-dropdown [selected]="idDistrict" id="select-district" [linkData]="'http://api-customer.nhabuon.vn/v1/utility/get-district'" [theme]="'bootstrap'" parentId="select-province"   [firstSelectOption]="'false'" [placeholder]="'Chọn Quận/Huyện'" (valueChanged)="selectDistrict(selectedDistrict = $event)"></pos-dropdown>
							</div>
							<control-messages [errors]="supplierForm.controls['district_id'].errors" [touched]="supplierForm.controls['address'].touched"></control-messages>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6" [ngClass]="{'has-error':(supplierForm.controls['town_id'].errors!=null && supplierForm.controls['address'].touched)}">
							<label class="control-label">Phường/Xã</label>
							<div class="input-group">
								<pos-dropdown [selected]="idTown" [linkData]="'http://api-customer.nhabuon.vn/v1/utility/get-ward'" [theme]="'bootstrap'" parentId="select-district"   [firstSelectOption]="'false'" [placeholder]="'Chọn Xã/Phường/Thị trấn'" (valueChanged)="selectTown(selectedWard = $event)"></pos-dropdown>
							</div>
							<control-messages [errors]="supplierForm.controls['town_id'].errors" [touched]="supplierForm.controls['address'].touched"></control-messages>
						</div>
						
						<div class="col-md-6" [ngClass]="{'has-error':(supplierForm.controls['phone'].errors!=null && supplierForm.controls['phone'].touched)}">
							<label class="control-label">Số điện thoại</label>
							<div class="input-group">
								<input formControlName="phone" type="text" class="form-control" placeholder="Phone">
							</div>
							<control-messages [errors]="supplierForm.controls['phone'].errors" [touched]="supplierForm.controls['phone'].touched"></control-messages>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12" [ngClass]="{'has-error':(supplierForm.controls['address'].errors!=null && supplierForm.controls['address'].touched)}">
							<label class="control-label">Số nhà, tên đường</label>
							<div class="input-group">
								<input formControlName="address" type="text" class="form-control" placeholder="Số nhà, Tên đường...">
							</div>
							<control-messages [errors]="supplierForm.controls['address'].errors" [touched]="supplierForm.controls['address'].touched"></control-messages>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="save-customer">
			<button type="submit" class="btn btn-success" [disabled]="loading || !supplierForm.valid">
				<i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
				{{(!supplierId)?'Tạo nhà cung cấp':'Lưu'}}
			</button>
		</div>
	</form>
</div>
<div id="loader" *ngIf="(supplierForm==null)"></div>