.filter-product{
  border:1px solid #d3dbe2;
  background-color: #ffffff;
  padding: 0 15px;
  vertical-align: -webkit-baseline-middle;
  line-height: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.popover{
  max-width: 100% !important;
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 10px 15px;
  left: 20px !important;
  box-shadow: 3px 3px 10px #ccc;
  margin-top: 10px;
  .popover-title{
    border: none;
    background-color: #ffffff;
  }
  .arrow {
    background: #fff;
  }
  .arrow:after, .arrow:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
  }
  .arrow:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: 8px;
  }
  .arrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 11px;
    margin-left: 7px;
  }
  .popover-content{
    padding: 9px 14px;
  }
}
.add-filter {
  float: left;
  margin-right: 10px;
}
.input-search{
  border-left: none;
}
.search-addon{
  background: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}