.col-md-8.customer-overview-info {
  background: white;
  margin-left: -30px;
  margin-top: -25px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
div.section{
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}
div.items{
  overflow: hidden;
  padding-left: 30px;
  padding-top: 15px;
}
.row.customer-overview{
  border-bottom: 1px solid #d3dbe2;
  margin-bottom: 35px;
}
.over-label {
  float: left;
}
.over-label.over-right {
  float: right;
}
.over-label.over-left {
  margin-left: -30px;
}
.form-group.over-add {
  margin-left: -17px;
  width: 100%;
}
.col-md-4.customer-overview-label {
  margin-top: 10px;
}
.save-customer{
  float: right;
  margin-right: 0px;
  margin-top: -20px;
}
.abc-checkbox.abc-checkbox-primary {
  margin-left: -33px;
}
