<div class="page-controls navbar navbar-dashboard">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" [routerLink]=" ['/dashboard']" >Home</a>
        <a class="breadcrumb-item" [routerLink]=" ['/phieu-nhap-xuat']" >Danh sách phiếu</a>
        <span class="breadcrumb-item active">Phiếu nhập từ nhà cung cấp</span>
        <span class="breadcrumb-item active" *ngIf="couponId">Chi tiết phiếu {{couponId}}</span>

    </nav>
</div>

<div class="container-fluid" style="padding-top: 70px;" *ngIf="(couponForm!=null)">
    <simple-notifications [options]="optionsNoti"></simple-notifications>
    <form class="form-two-cloumn" [formGroup]="couponForm" (ngSubmit)="onSubmit(couponForm.value)">
        <div class="row customer-overview">
            <div class="col-md-4 customer-overview-label">
                <h5><strong>Phiếu xuất nhập</strong></h5>
            </div>
            <div class="col-md-8 customer-overview-info">
                <div class="section">
                    <div class="items over-view row">
                        <div class="col-md-6 info-em"  *ngIf="exampleCompany && exampleCompany.length > 1"  style="float: left" >
                            <label class="control-label">Doanh nghiệp</label>
                            <div class="input-group sel-op" #selector>
                                <select class="filter-select" *ngIf="exampleCompany" name="company_id">
                                    <option *ngFor="let com of exampleCompany" value="{{com.id}}" [attr.selected]="(com.id==model.company_id)?true:null">{{com.text}}</option>
                                </select>
                            </div>
                            <div *ngIf="(model.company_id == 0 && message)" class="alert alert-danger danger-pdw" >
                                <strong>{{message}}</strong>
                            </div>
                        </div>
                        <div class="col-md-6 info-em" style="float: left" >
                            <label class="control-label">Kho hàng</label>
                            <div class="input-group sel-op" #selector>
                                <select class="filter-select" *ngIf="exampleWarehouse" name="warehouse_id">
                                    <option *ngFor="let ware of exampleWarehouse" value="{{ware.id}}" [attr.selected]="(ware.id==model.warehouse_id)?true:null">{{ware.text}}</option>
                                </select>
                            </div>
                            <div *ngIf="(model.warehouse_id == 0 && message)" class="alert alert-danger danger-pdw" >
                                <strong>{{message}}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="items over-view row">
                        <div class="col-md-6 info-em" >
                            <label class="control-label">Nhà cung cấp</label>
                            <div class="input-group sel-op" #selector>
                                <select class="filter-select" *ngIf="exampleSupplier" name="supplier_id">
                                    <option *ngFor="let sup of exampleSupplier" value="{{sup.id}}" [attr.selected]="(sup.id==model.supplier_id)?true:null">{{sup.text}}</option>
                                </select>
                            </div>
                            <div *ngIf="(model.supplier_id == 0 && message)" class="alert alert-danger danger-pdw" >
                                <strong>{{message}}</strong>
                            </div>
                        </div>
                        <div class="col-md-6 info-em" [ngClass]="{'has-error':(couponForm.controls['notes'].errors!=null && couponForm.controls['notes'].touched)}">
                            <label class="control-label">Ghi chú</label>
                            <input formControlName="notes" [(ngModel)]="model.notes" class="form-control" placeholder="Ghi chú">
                            <!--<control-messages [errors]="couponForm.controls['notes'].errors" [touched]="couponForm.controls['notes'].touched"></control-messages>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row customer-overview">
            <div class="col-md-4 customer-overview-label">
                <h5><strong>Thông tin thanh toán</strong></h5>
            </div>
            <div class="col-md-8 customer-overview-info">
                <div class="section">
                    <div class="items over-view row">
                        <div class="col-md-6 info-em" [ngClass]="{'has-error':(couponForm.controls['vat'].errors!=null && couponForm.controls['vat'].touched)}">
                            <label class="control-label">VAT của hóa đơn</label>
                            <div class="input-group">
                                <input formControlName="vat" [(ngModel)]="model.vat" class="form-control" id="vat" (click)="validateNumber()">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{vat_type}}<span class="caret"></span></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:;" (click)="change_vat_type('%')">%</a>
                                        <a class="dropdown-item" href="javascript:;" (click)="change_vat_type('vnđ')">vnđ</a>
                                    </div>
                                </div>
                            </div>
                            <!--<control-messages [errors]="couponForm.controls['vat'].errors" [touched]="couponForm.controls['vat'].touched"></control-messages>-->
                        </div>
                        <div class="col-md-6 info-em" [ngClass]="{'has-error':(couponForm.controls['vat_code'].errors!=null && couponForm.controls['vat_code'].touched)}">
                            <label class="control-label">Số hóa đơn VAT</label>
                            <input formControlName="vat_code" [(ngModel)]="model.vat_code" type="text" class="form-control">
                            <control-messages [errors]="couponForm.controls['vat_code'].errors" [touched]="couponForm.controls['vat_code'].touched"></control-messages>
                        </div>
                    </div>

                    <div class="items over-view row">
                        <div class="col-md-6 info-em">
                            <label class="control-label">Ngày xuất hóa đơn VAT</label>
                            <div class='input-group date' id="datepicker1"  data-provide="datepicker" data-date-format="dd-mm-yyyy" (click)="validateNumber()">
                                <input formControlName="vat_time" [(ngModel)]="model.vat_time" type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            <!--<div *ngIf="(model.vat_time == '' && message)" class="alert alert-danger danger-pdw" >-->
                                <!--<strong>{{message}}</strong>-->
                            <!--</div>-->
                            <!--<datetime formControlName="vat_time" [timepicker]="false" [(ngModel)]="model.vat_time"></datetime>-->
                            <!--<div *ngIf="couponForm.controls['created_at_vat'].touched && !couponForm.controls['created_at_vat'].valid " class="alert alert-danger danger-sm">Bạn vui lòng điền đúng định dạng ngày tháng</div>-->
                        </div>
                        <div class="col-md-6 info-em" [ngClass]="{'has-error':(couponForm.controls['discount'].errors!=null && couponForm.controls['discount'].touched)}">
                            <label class="control-label">Chiết khấu cho hóa đơn này</label>
                            <div class="input-group">
                                <input formControlName="discount" [(ngModel)]="model.discount" class="form-control" id="discount" (click)="validateNumber()">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{discount_type}}<span class="caret"></span></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:;" (click)="change_discount_type('%')">%</a>
                                        <a class="dropdown-item" href="javascript:;" (click)="change_discount_type('vnđ')">vnđ</a>
                                    </div>
                                </div>
                            </div>
                            <!--<control-messages [errors]="couponForm.controls['discount'].errors" [touched]="couponForm.controls['discount'].touched"></control-messages>-->
                        </div>
                    </div>

                    <div class="items over-view row">
                        <div class="col-md-6 info-em" [ngClass]="{'has-error':(couponForm.controls['total_cash'].errors!=null && couponForm.controls['total_cash'].touched)}">
                            <label class="control-label">Tiền mặt đã thanh toán cho hóa đơn này</label>
                            <input formControlName="total_cash" [(ngModel)]="model.total_cash" type="text" id="total_cash" class="form-control" (click)="validateNumber()">
                            <!--<control-messages [errors]="couponForm.controls['total_cash'].errors" [touched]="couponForm.controls['total_cash'].touched"></control-messages>-->
                        </div>
                        <div class="col-md-6 info-em" [ngClass]="{'has-error':(couponForm.controls['total_bank_transfer'].errors!=null && couponForm.controls['total_bank_transfer'].touched)}">
                            <label class="control-label">Tiền đã chuyển khoản cho hóa đơn này</label>
                            <input formControlName="total_bank_transfer" [(ngModel)]="model.total_bank_transfer" class="form-control" id="total_bank_transfer" type="text" (click)="validateNumber()">
                            <!--<control-messages [errors]="couponForm.controls['total_bank_transfer'].errors" [touched]="couponForm.controls['total_bank_transfer'].touched"></control-messages>-->
                        </div>
                    </div>

                    <div class="items over-view row">
                        <div class="col-md-6 info-em">
                            <label class="control-label">Nhân viên</label>
                            <div class="input-group sel-op" #selector>
                                <select class="filter-select" *ngIf="exampleUser" name="user_id">
                                    <option *ngFor="let user of exampleUser" value="{{user.id}}" [attr.selected]="(user.id==model.user_id)?true:null">{{user.text}}</option>
                                </select>
                            </div>
                            <div *ngIf="(model.user_id == 0 && message)" class="alert alert-danger danger-pdw" >
                                <strong>{{message}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row customer-overview chose-product">
            <button type="button" class="btn btn-info pull-right" data-toggle="modal" style="float: left; margin-left: 20px;height: 40px;margin-top: 20px;"
                    data-target="#myModal" (click)="onClickOpenModal()">Chọn sản phẩm
            </button>
            <div class="form-group input-field col ">
                <label class="control-label">Nhập ID, Mã hoặc Tên sản phẩm</label>
                <input id="country" type="text" class="validate filter-input form-control" formControlName="search" [(ngModel)]=query (keyup)=filter()>
            </div>
            <div class="suggestions" *ngIf="filteredList.length > 0">
                <ul *ngFor="let item of filteredList">
                    <li>
                        <a (click)="select(item)"> ID : {{item.id}} -- ID Nhanh : {{item.id_nhanh}} -- Mã :
                            {{item.sku}} -- Tên : {{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 customer-overview-label">
                <div class="chose_product">
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Chọn sản phẩm</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <section class="widget" widget>
                                                <div class="widget-body">
                                                    <pos-table
                                                            [settings]="settings"
                                                            [data]="data"
                                                            (pageChanged)="pageChanged($event)"
                                                            (sortChanged)="sortChanged($event)"
                                                            (filterChanged)="filterChanged($event)">
                                                    </pos-table>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="widget" widget>
                    <div class="widget-body">
                        <pos-table
                                [settings]="settings2"
                                [data]="list_product_id"
                                [changeComponent]="changeComponent"
                                (pageChanged)="pageChanged($event)"
                                (sortChanged)="sortChanged($event)"
                                (filterChanged)="filterChanged($event)"
                        >
                        </pos-table>
                    </div>
                </section>
            </div>
        </div>

        <div *ngIf="(list_product_id && list_product_id.length == 0 && warning)" class="alert alert-danger danger-pdw" >
            <strong>{{warning}}</strong>
        </div>

        <div class="form-group total-money">
            <label class="label-total-money"><b>Tổng tiền: {{ model.final_price }}</b></label>
            <!--<input formControlName="final_price" [(ngModel)]="model.final_price" type="text" class="form-control select-total-money" readonly>-->
        </div>
        <div class="save-customer" *ngIf="verify_status != 1">
            <button type="submit" class="btn btn-success">
                {{(!couponId)?'Tạo phiếu':'Lưu'}}
            </button>
            <button type="button" class="btn btn-success" (click)="onVerify(couponId)" *ngIf="couponId">Duyệt</button>
        </div>
    </form>
</div>
<div id="loader" *ngIf="(couponForm==null)"></div>