@import "../../../../node_modules/bootstrap-markdown/css/bootstrap-markdown.min";
@import "../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../scss/select2-variables";
@import "../../../../node_modules/select2/src/scss/core";
@import "../../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";



body{
    background-color: #EBEEF0 !important;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
}
.col-md-8.customer-overview-info {
    background: white;
    margin-left: -30px;
    margin-top: -25px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
div.section{
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
}
div.items{
    overflow: hidden;
    padding-left: 30px;
    padding-top: 15px;
}
.row.customer-overview{
    border-bottom: 1px solid #d3dbe2;
    margin-bottom: 35px;
    padding: 0 0 15px 0;
}
.over-label {
    float: left;
}
.over-label.over-right {
    float: right;
}
.over-label.over-left {
    margin-left: -30px;
}
.form-group.over-add {
    margin-left: -17px;
    width: 100%;
}
.col-md-4.customer-overview-label {
    margin-top: 10px;
}
.save-customer{
    float: right;
    margin-right: 0px;
    margin-top: -20px;
}
.abc-checkbox.abc-checkbox-primary {
    margin-left: -33px;
}
.col-md-6.flict {
    float: left;
}
label.control-label.policy {
    margin-top: 0px;
}
.input-group.sel-op {
    width: 327px;
}
.items.over-view {
    padding-left: 0 !important;
}
.alert.alert-danger {
    margin-left: -18px;
    width: 100%;
}
.alert.alert-danger.danger-sm {
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
}
.alert.alert-danger.danger-pdw {
    margin-top: 10px;
    margin-left: 0;
    width: 328px;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}








