<div class="page-controls navbar navbar-dashboard">
	<div class="container-fluid">
	  <!-- .navbar-header contains links seen on xs & sm screens -->
	  <div class="navbar-header">
		<ul class="nav navbar-nav">
		  <li class="nav-item">
			<template #sidebarToggleTooltip>
			  Turn on/off <br> sidebar <br>collapsing
			</template>
			<!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
			<a class="nav-link hidden-md-down" tooltipPlacement="bottom">
			  <i class="fa fa-bars fa-lg"></i>
			</a>
			<!-- shown on xs & sm screen. collapses and expands navigation -->
			<a (click)="toggleSidebar('collapse')" class="hidden-lg-up nav-link" href="#" data-html="true" title="Show/hide<br>sidebar" data-placement="bottom">
			  <span class="rounded rounded-lg bg-gray text-white hidden-md-up"><i class="fa fa-bars fa-lg"></i></span>
			  <i class="fa fa-bars fa-lg hidden-sm-down"></i>
			</a>
		  </li>
		  <li class="nav-item ml-sm hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-refresh fa-lg"></i></a></li>
		  <li class="nav-item ml-n-xs hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-times fa-lg"></i></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right hidden-md-up">
		  <li class="nav-item">
			<!-- toggles chat -->
			<a class="nav-link" href="#">
			  <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
			</a>
		  </li>
		</ul>
		<a class="navbar-brand hidden-md-up" [routerLink]=" ['/app/dashboard'] ">
		  <i class="fa fa-circle text-gray mr-n-sm"></i>
		  <i class="fa fa-circle text-warning"></i>
		  &nbsp;
		  Config.Name
		  &nbsp;
		  <i class="fa fa-circle text-warning mr-n-sm"></i>
		  <i class="fa fa-circle text-gray"></i>
		</a>
	  </div>

	  <!-- this part is hidden for xs screens -->
	  <div class="collapse navbar-collapse">
		<!-- search form! link it to your search server -->
		<form class="navbar-form pull-xs-left" role="search">
		  <div class="form-group">
			<div class="input-group input-group-no-border">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
			  <input class="form-control" type="text" placeholder="Search Dashboard">
			</div>
		  </div>
		</form>
		<ul class="nav navbar-nav pull-xs-right">
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle dropdown-toggle-notifications"
			   id="notifications-dropdown-toggle" data-toggle="dropdown">
					<span class="thumb-sm avatar pull-xs-left">
						<img class="img-circle" src="assets/img/people/a5.jpg" alt="...">
					</span>
			  &nbsp;
			  Philip <strong>Smith</strong>&nbsp;
					<span class="circle bg-warning fw-bold">
						13
					</span>
			  <b class="caret"></b>
			</a>
			<!-- ready to use notifications dropdown. inspired by smartadmin template.
						 consists of three components:
						 notifications, messages, progress. leave or add what's important for you.
						 uses Sing's ajax-load plugin for async content loading. See #load-notifications-btn -->
			<div notifications class="dropdown-menu dropdown-menu-right animated animated-fast fadeInUp"
			  ></div>
		  </li>
		  <li class="nav-item dropdown">
			<a href class="nav-link dropdown-toggle" data-toggle="dropdown">
			  <i class="fa fa-cog fa-lg"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
			  <li><a class="dropdown-item" href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; My Account</a></li>
			  <li class="dropdown-divider"></li>
			  <li><a class="dropdown-item" [routerLink]=" ['/error'] ">Calendar</a></li>
			  <li><a class="dropdown-item" [routerLink]=" ['/error'] ">Inbox &nbsp;&nbsp;<span class="badge label-pill bg-danger text-white animated bounceIn">9</span></a></li>
			  <li class="dropdown-divider"></li>
			  <li><a class="dropdown-item"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
			</ul>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#" id="toggle-chat">
			  <i class="fa fa-globe fa-lg"></i>
			</a>
			<div id="chat-notification" class="chat-notification hide">
			  <div class="chat-notification-inner">
				<h6 class="title">
				  <span class="thumb-xs">
					  <img src="assets/img/people/a6.jpg" class="img-circle mr-xs pull-xs-left">
				  </span>
				  Jess Smith
				</h6>
				<p class="text">Hi there! <br> This is a completely new version of Sing App <br> built with <strong class="text-danger">Angular 2.0 Final Release</strong> </p>
			  </div>
			</div>
		  </li>
		</ul>
	  </div>
	</div>
</div>

<div class="container-fluid has-breadcrumb">
	<form [formGroup]="productForm">
	<div class="row product-info">
		<div class="col-md-8">
			<div class="section">
				<div class="items">
					<h5><strong>Thông tin sản phẩm</strong></h5>
					<div class="form-group field-product-name required">
						<label class="control-label">Tên</label>
						<input type="text" id="normal-field" class="form-control" formControlName="name">
					</div>
					<div class="form-group field-product-name required">
						<label class="control-label" >Mô tả</label>
						<div [froalaEditor]="titleOptions" [(froalaModel)]="content"></div>
					</div>
				</div>
			</div>
			
			
			
			<div class="block-sub-info">
				<div class="col-md-12 sub-info-section">
					<header class="section-header">
						<h5>Giá sản phẩm</h5>
					</header>
					
					<div class="row">
						<div class="col-md-6">
							<label class="control-label" >Giá bán</label>
							<div class="input-group">
								<input  class="form-control" size="16" type="text">
								<span class="input-group-addon">0</span>
								<span class="input-group-addon">vnđ</span>
							</div>
						</div>
						
						<div class="col-md-6">
							<label class="control-label">Giá so sánh</label>
							<div class="input-group">
								<input  class="form-control" size="16" type="text">
								<span class="input-group-addon">0</span>
								<span class="input-group-addon">vnđ</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 sub-info-section">
					<header class="section-header">
						<h5>Quản lý kho vận</h5>
					</header>
					
					<div class="row row-multi">
						<div class="col-md-6">
							<label class="control-label" >Mã sản phẩm / SKU</label>
							<div class="input-group">
								<input  class="form-control" size="16" type="text">
							</div>
						</div>
						
						<div class="col-md-6">
							<label class="control-label">Mã vạch / Barcode</label>
							<div class="input-group">
								<input  class="form-control" size="16" type="text">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Khối lượng</label>
							<div class="input-group">
								<input class="form-control"> 
								<div class="input-group-btn">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{weight_type}}  <span class="caret"></span></button> 
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:;" (click)="change_weight_type('kg')">kg</a>
										<a class="dropdown-item" href="javascript:;" (click)="change_weight_type('g')">g</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="block-sub-info">
				<div class="col-md-12 sub-info-section">
					<header class="section-header">
						<h5>Tùy chọn</h5>
					</header>
					
					<div class="row">
						<div class="col-md-12">
							Sản phẩm này có nhiều tùy chọn như kích thước, màu sắc?
							<a href="javascript:;" class="btn btn-sm btn-primary pull-right" (click)="toggleVariants()">{{hasVariants ? "Hủy" : "Thêm Thuộc tính"}}</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 sub-info-section section-variant" [hidden]="!hasVariants">
					<div class="list-attr-option">
						<div class="row attr-item-header">
							<div class="col-md-3">
								<label>Tên thuộc tính</label>
							</div>
							<div class="col-md-5 ">
								<label>Giá trị</label>
							</div>
							<div class="col-md-2">

							</div>
						</div>
						<div class="row attr-item" *ngFor="let variant of variants; let i = index">
							<div class="col-md-3">
								<input
									type="text"
									class="form-control attr-name"
									value="{{variant.name}}"
									(change)="onChangeAttributeName($event,i)" />

								<div class="pos-tag-popover-arrow"></div>
								<div class="pos-tag-popover-content">
									<ul>
										<li *ngFor="let atrribute of filter_attributes">{{atrribute}}</li>
									</ul>
								</div>
							</div>
							<div class="col-md-5">
								<div class="option-tag-container" (click)="forcusTagInput($event)">
									<span class="option-tag-item pos-tag-color{{i}}" *ngFor="let attr of variant.value;">
										<span class="pos-tag-label">{{getValueAttributeOption(attr)}}</span>
										<span class="pos-tag-remove" (click)="removeTag(attr,i)">×</span>
									</span>
									<input type="text" class="tag-input" (change)="onTagInputChange($event, i)" (keydown)="onTagInputKeyDown($event,i)" data-toggle="tooltip">
								</div>
							</div>
							<div class="col-md-2">
								<a class="btn btn-default btn-remove-variant" (click)="removeVariant(i)"><i class="glyphicon glyphicon-trash"></i></a>
							</div>
						</div>
					</div>

					<div class="product-variant"></div>

					<div class="row">
						<div class="col-md-3">
							<button type="button" class="btn btn-default add-variant" (click)="addVariant()" *ngIf="variants.length<3">Thêm thuộc tính</button>
						</div>
					</div>
					<div class="sku-table">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th *ngFor="let variant of variants;">{{getValueAttributeOption(variant.name)}}</th>
								<th>Giá</th>
								<th>Chọn</th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let sku of arrSkus;">
								<td *ngFor="let td of sku.td;" [attr.rowspan]="td.rowspan">{{td.display}}</td>
								<td>
									<input type="text" value="{{sku.price}}">
								</td>
								<td>
									<input type="checkbox" checked="{{sku.checked==1}}">
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="items images">
					<h5><strong>Images</strong></h5>
					<form class="dropzone" dropzone-demo action="#" id="my-awesome-dropzone"></form>
				</div>
			</div>

			<div class="section">

				<div class="items variants">
					<h5><strong>Variants</strong></h5>
					<a class="pull-right" id="add-attr" (click)="toggleVariants()">{{hasVariants ? "Hủy" : "Thêm Thuộc tính"}}</a>
					<p>Sản phẩm của bạn có nhiều thuộc tính như Màu sắc, kích cỡ...?</p>
				</div>

				<div class="items attr-option" [hidden]="!hasVariants">
					<div id="attr-content">
						<div id="attr-content-detail">
							<div class="row attr-header">
								<div class="col-md-3 pos-option-name">
									<label>Tên thuộc tính</label>
								</div>
								<div class="col-md-5 ">
									<label>Giá trị</label>
								</div>
								<div class="col-md-2">

								</div>
							</div>
							<div class="row attr-pro" *ngFor="let variant of variants; let i = index">
								<div class="col-md-3 pos-option-name">
									<input
										type="text"
										class="form-control pos-input"
										value="{{variant.name}}"
										(change)="onChangeName($event,i)" />

									<div class="pos-tag-popover-arrow"></div>
									<div class="pos-tag-popover-content">
										<ul>
											<!--<li><i class="glyphicon glyphicon-plus plus-tag"></i>Add</li>-->
											<li *ngFor="let atrribute of filter_attributes">{{atrribute}}</li>
										</ul>
									</div>
								</div>
								<div class="col-md-5 ">
									<div class="pos-tag">
										<span class="pos-tag-info pos-tag-color{{i}}" *ngFor="let attr of variant.value;">
											<span class="pos-tag-label">{{getValueAttributeOption(attr)}}</span>
											<span class="pos-tag-remove" (click)="removeTag(attr,i)">×</span>
										</span>
										<input type="text" class="pos-tag-input" (change)="onTagInputChange($event, i)" (keyup)="onTagInputKeyUp($event,i)" data-toggle="tooltip">
									</div>
								</div>
								<div class="col-md-2">
									<a class="btn btn-default btn-remove-variant" (click)="removeVariant(i)"><i class="glyphicon glyphicon-trash"></i></a>
								</div>
							</div>
						</div>
						<!--<div class="row">-->
							<!--<div class="col-md-3"><div class=" input-group input-group-select" id="add-attr-product"></div></div>-->
						<!--</div>-->

						<div class="product-variant"></div>

						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn btn-default add-variant" (click)="addVariant()" *ngIf="variants.length<3">Add another option</button>
							</div>
						</div>
					</div>
					<div class="pos-tag-table">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th *ngFor="let variant of variants;">{{getValueAttributeOption(variant.name)}}</th>
								<th>Giá</th>
								<th>Chọn</th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let sku of arrSkus;">
								<td *ngFor="let td of sku.td;" [attr.rowspan]="td.rowspan">{{td.display}}</td>
								<td>
									<input type="text" value="{{sku.price}}">
								</td>
								<td>
									<input type="checkbox" checked="{{sku.checked==1}}">
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--<table class="table">-->
					<!--<thead>-->
					<!--<tr>-->
						<!--<th>#</th>-->
						<!--<th>Attribute</th>-->
						<!--<th>Price</th>-->
						<!--<th>SUK</th>-->
					<!--</tr>-->
					<!--</thead>-->
					<!--<tbody>-->
					<!--<tr>-->
						<!--<th scope="row" colspan="2">1</th>-->
						<!--<td>Xanh</td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<th scope="row">2</th>-->
						<!--<td>Đỏ</td>-->
						<!--<td><td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
					<!--</tr>-->
					<!---->
					<!--</tbody>-->
				<!--</table>-->
			</div>

			<div class="section">
				<div class="items seo">
					<h5><strong>Search engine listing preview</strong></h5>
					<a class="pull-right" id="seo-product">Seo</a>
					<p>Add a title and description to see how this product might appear in a search engine listing.</p>
					<div class="items seo-option">
						<div class="form-group field-product-name required">
							<label class="control-label">Page title<span class="limit">0 of 70 characters used</span></label>
							<input type="text"  class="form-control">
						</div>
						<div class="form-group field-product-name required">
							<label class="control-label" >Meta description<span class="limit-des ">0 of 160 characters used</span></label>
							<textarea class="form-control"  data-provide="markdown" rows="6"></textarea>
						</div>
						<div class="form-group field-product-name required">
							<label class="control-label">Url and handle</label>
							<input type="text"  class="form-control" placeholder="https://garnier.myshopify.com">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="section section-right">
				<div class="items visibility">
					<h5><strong>Visibility</strong></h5>
				</div>
				<div class="items time">
					<div class="checkbox col-md-12">
						<input type="checkbox"> <label class="online-store">Online store</label>
						<a class="pull-right" id="toogle-date-time" title="Chọn ngày đăng"><span class="glyphicon glyphicon-calendar"></span></a>
					</div>
				</div>
			</div>

			<div class="section section-right">
				<div class="items organization">
					<h5><strong>Organization</strong></h5>
					<div class="form-group col-md-12">
						<div class="form-group field-product-name required">
							<label class="control-label">Product type</label>
							<input type="text" class="form-control" placeholder="T-Shirt">
						</div>
						<div class="form-group field-product-name required">
							<label class="control-label">Vendor</label>
							<input type="text" class="form-control" placeholder="Adidas">
						</div>
					</div>
				</div>

				<div class="items">
					<div class="form-group col-md-12">
						<div class="form-group field-product-name required">
							<label class="control-label">Collections</label>
							<input type="text" class="form-control" placeholder="Search for collection">
							<p>Add this product to a collection so it’s easy to find in your store.</p>
						</div>
					</div>
				</div>

				<div class="items tags">
					<div class="form-group col-md-12">
						<div class="form-group field-product-name required">
							<label class="control-label">Tags</label>
							<input type="text" class="form-control" placeholder="Cotton, Nike, Adidas, UA" id="tags">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="save-product">
		<button type="button" class="btn btn-success"  (click)="save()">Save Product</button>
	</div>
	</form>
</div>