@import "../../../../node_modules/bootstrap-markdown/css/bootstrap-markdown.min";
@import "../../../../node_modules/dropzone/dist/dropzone";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/froala-editor/css/froala_editor";
@import "../../../../node_modules/froala-editor/css/froala_style";
@import "../../../../node_modules/froala-editor/css/plugins/code_view.min";
@import "../../../../node_modules/froala-editor/css/plugins/image_manager.min";
@import "../../../../node_modules/froala-editor/css/plugins/image.min";
@import "../../../../node_modules/froala-editor/css/plugins/table.min";
@import "../../scss/variables";
@import "../../scss/mixins";

/*---------------------CSS Product Info-----------------------------*/
.product-info {
	.block-sub-info {
		background-color: white;
		border-radius: 3px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		margin-bottom: 20px;
		.sub-info-section {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid #eff2f7;
			padding: 20px;
			.section-header {
				margin-bottom: 10px;
				h5 {
					margin: 0;
					font-weight: 600;
				}
			}
			
			.row-multi {
				margin-bottom: 10px;
			}
			
			&:last-of-type {
				border-bottom: none;
				margin-bottom: 0;
			}
			
			&.section-variant {
				background-color: #f5f6f7;
			}
		}
		
		.section-variant {
			.list-attr-option {
				.attr-item-header {
				}
				.attr-item {
					margin-bottom: 10px;
					.attr-name {
						height: 36px;
					}
					.option-tag-container {
						position: relative;
						border: 1px solid rgba(51, 51, 51, 0.3);
						background-color: white;
						border-radius: 3px;
						padding: 3px;
						float: left;
						width: 100%;
						min-height: 36px;
						cursor: text;
						
						.option-tag-item {
							border: 1px solid #ffffff;
							position: relative;
							padding: 3px 6px;
							float: left;
						}
						
						.tag-input {
							border: none !important;
							background: transparent;
							outline:none !important;
							height: 28px;
							width: 20%;
						}
					}
				}
			}
			
			.sku-table {
				margin-top: 10px;
			}
		}
	}
}

/*-----------------------------------------------------------------*/

.col-md-3.option-other {
    margin-top: 20px;
}
.action {
    margin-top: 5px;
    margin-left: 5px;
}
button.glyphicon.glyphicon-trash {
    height: 25px;
}
input.form-control.attr-child {
    margin-bottom: 15px;
    padding: 8px 12px;
}

.save-product {
    background: white;
    float: right;
    margin-right: -30px;
    margin-top: 10px;
}
.col-md-6.flict {
    float: left;
}
.glyphicon-calendar:before {
    content: "\e109";
    color: blue;
}
label.control-label.policy {
    margin-top: 15px;
}
.input-group.sel-op {
    width: 309px;
}
span.limit {
    margin-left: 420px;
}
span.limit-des {
    margin-left: 365px;
}
footer{
    background-color: #FFFFFF;
    border-top: 1px solid #ebeef0;
    margin-left: 0px;
}

a, a:hover{
    color: #0078bd;
}

.navbar-form{
    position: relative;
    padding: 0;
    margin: 8px 20px;
}

.navbar-form ul {
    padding: 5px;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 37px; left: 0;
    box-shadow: 0px 0px 10px 2px #e7e7e7;
    z-index: 99999;
}

.search-result{
    max-height: 320px;
    overflow-y: hidden;
}

.search-result:hover{
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar-form ul.search-result li{
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ebf0f5;
    cursor: pointer;
}

.navbar-form ul.search-result li a{
    text-decoration: none;
}

.navbar-form ul.search-result li:hover{
    background-color: #e7e7e7;
}

.navbar-form ul.search-result li:last-child{
    border-bottom: none;
}

i.fa.fa-arrow-circle-right {
    margin: 0 5px;
}
/*------------------------------ CSS SEARCH FORM --------------------------------------------------*/
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 9px;
    text-decoration: none;
}

/* align glyph */
.inner-addon .glyphicon-search  { left:  0px;}
.inner-addon .glyphicon-remove { right: 0px; cursor: pointer; color: red;}

/* add padding  */
.inner-addon input  { padding: 0px 30px; }

a{
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

/*------------------------------ CSS SEARCH FORM --------------------------------------------------*/


/*------------------------------ CSS TABBAR --------------------------------------------------*/
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: flex;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}

.tab-pane{
    display: flex;
    flex-direction: row;
}

.tab-primary{
    flex: 1;
}
/*------------------------------ CSS TABBAR --------------------------------------------------*/
.breadcrumb {
    padding: 0px !important;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
}

.navbar-form input{
    width: 420px;
}

/* Muon cho dropdown list co chieu dai 100% man hinh thi .dropdown-menu{position: fixed; width: 100%} */
.nav-menu{
    position: fixed;
    top: auto;
    max-width: none;
    border-radius: 10px;
    width: 98%;
    left: 10px;
    padding: 30px;
}

.nav-menu:after{
    left: 164px;
    right: auto;
    border-bottom: 7px solid #fff;
}

.nav-menu:before{
    left: 163px;
    right: auto;
}

.nav-menu h3{
    font-size: 1.2em;
    margin: 0 !important;
}

.nav-menu ul{
    padding: 0;
}

.nav-menu ul.child li a{
    color: #555;
}

.badge-note{
    position: absolute;
    top: 6px;
    right: 5px;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    font-family: Tahoma;
    background-color: orangered;
}

.badge-success{
    background-color: #32c5d2;
}

.badge-danger{
    background-color: deeppink;
}

.child-menu-active{
    color: red;
}

.navbar-nav, .navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#topbar-search{
    width: 300px;
}

.navbar-default{
    background-color: #222222 !important;
    border: none !important;
    box-shadow: 0px 0px 2px white;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .breadcrumb > .active, .breadcrumb > li > a{
    color: #fbfbfb;
}

.breadcrumb li a{
    color: white;
}

.dropdown:hover > a{
    color: #383838 !important;
}

.breadcrumb{
    float: left;
    margin-left: 8px;
}

div.section{
    width: 100%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

div.items{
    border-bottom: 1px solid #ebeef0;
    padding: 20px;
}

.input-group-select{
    display: flex;
    flex-direction: row;
}

.shipping select#unit{
    width: 80px;
    margin-left: -1px;
}

div.items:last-child{
    border: none;
}

.visibility h5{
    margin: 0 !important;
}

.time .checkbox{
    margin: 0 !important;
}

.remove-date{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.section-right, .attr-option{
    background-color: #F5F6F7;
}

input:focus, select:focus, textarea:focus{
    border: 1px solid #0078bd !important;
}

label{
    color: #31373d !important;
    font-weight: 400;
	margin-bottom: 5px;
	line-height: 1;
}

.attr-option .push{
    margin-left: -2px;
}

#attr-trash .btn{
    margin: 0px;
}

/* file View product*/
.variannt ul{
    padding: 0;
    margin: 0;
}
.variannt ul li{
    padding: 10px 20px;
    border-bottom: 1px solid #ebeef0;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.variannt ul li .remove-variant{
    position: absolute;
    right: 20px;
    top: 20px;
}
.variannt ul li .remove-variant:hover{
    color: red;
}
.variannt ul li:hover{
    background-color: white;
}
.variannt ul li.active{
    background-color: #ffffff;
}
.variannt ul li .variant-img{
    border: 1px solid rgba(195,207,216,0.3);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 15px;
    overflow: hidden;
}

.time .checkbox label{
    padding-left: 0px;
}

.variant-image .variant-image-display{
    border: 1px solid rgba(195,207,216,0.3);
    width: 186px;
    height: 186px;
    background: #fafbfc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0078bd;
    cursor: pointer;
    overflow: hidden;
}


.variant-image{
    text-align: center;
}


@media (min-width: 1280px){
    #topbar-search{
        width: 400px;
    }

    .nav-menu{
        left: 13px;
    }
}

/*** table customize ***/

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
    text-align: center;
    vertical-align: middle;
}

table .variant-combos{
    text-align: left;
    margin: 0px;
    height: 35px;
    overflow-y: scroll;
}

table th{
    text-transform: capitalize;
}
table .variant-info{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

table .variant-checkbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table .variant-checkbox label{
    font-size: 18px;
}

table .variant-combos .form-control{
    margin: 0px 10px 6px 0px;
}

/*** custom checkboxes ***/

/*input[type=checkbox] { display:none; } !* to hide the checkbox itself *!*/
input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

/*input[type=checkbox] + label:before { content: "\f096"; } !* unchecked icon *!*/
input[type=checkbox] + label:before { letter-spacing: 7px; } /* space between checkbox and label */

/*input[type=checkbox]:checked + label:before { content: "\f046"; } !* checked icon *!*/
input[type=checkbox]:checked + label:before { letter-spacing: 5px; color: red; } /* allow space for check mark */

/*** css select images show-variant.php + variant-images.php ***/
.list-images ul li{
    float: left; margin: 10px; width: 120px; height: 120px; display: flex; justify-content: center; align-items: center; border: 2px solid rgba(195,207,216,0.3); background: #fafbfc;
    padding: 2px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    overflow: hidden;
    padding: 2px;
}

.list-images ul li img{
    width: 100%;
}

.list-images ul li.active{
    border: 2px solid #0078bd;
}

/* product/index.php */
.show-product span{
    width: 20px;
    height: 20px;
    font-size: 20px;
}
///*****----------------------------dropzone-----------------------------*****/
.dropzone{
    border: 2px dashed #ccc;
    border-radius: 5px;
}
.attr-pro {
    margin-bottom: 10px;
}

.pos-tag {
    position: relative;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background-color: white;
    border-radius: 3px;
    padding: 5px 1px;
}


.pos-tag-info {
    border: 1px solid #ffffff;
    position: relative;
    padding: 5px 4px;
}

.pos-tag-color0 {
    background-color: #29bc94 !important;
}
.pos-tag-color1 {
    background-color: #763eaf !important;
}
.pos-tag-color2 {
    background-color: #ff9517 !important;
}
.pos-tag-color3 {
    background-color: #0000ee !important;
}
.pos-tag-label {
    color: white;
    font-family: sans-serif;
}
.pos-tag-remove {
    color: white;
    cursor: pointer;
}
.pos-tag-input {
    border: none !important;
    background: transparent;
    outline:none !important;
	height: 28px;
	width: 100%;
 }

.pos-tag-input:focus,.pos-tag-input:active  {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none !important;
    border-color: white;
    border: none !important;
}

.pos-option-name {
    position: relative;
    min-width: 177px;
}
.pos-tag-popover-arrow {
    display: none;
    position: absolute;
    left: 50%;
    top: 22px;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    overflow: hidden;
    pointer-events: none;
    z-index: 200;
}
.pos-tag-popover-arrow:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -5px;
    display: block;
    height: 10px;
    width: 10px;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 0 0 1px rgba(39,44,48,0.05),0 2px 7px 1px rgba(39,44,48,0.16);
}
.pos-tag-popover-content {
    display: none;
    width: 84%;
    min-height: 80px;
    position: absolute;
    top: 41px;
    z-index: 100;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(39,44,48,0.05),0 2px 7px 1px rgba(39,44,48,0.16);
}
.pos-tag-popover-content ul {
    padding: 4px 0;
}
.pos-tag-popover-content ul li {
    padding: 6px 3px;
    cursor: pointer;
    font-family: sans-serif;
}

.pos-tag-popover-content ul li:hover {
    color: white;
    background-color: #0000ee;
}
.plus-tag {
    font-size: 10px;
    line-height: 2;
    padding-right: 6px;
    padding-left: 3px;
}
.btn-remove-variant {
    background-color: white;
    color: red;
}

.pos-tag-table tbody {
    background-color: white;
}
