<div class="page-controls navbar navbar-dashboard">
    <div class="container-fluid">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <template #sidebarToggleTooltip>
                        Turn on/off <br> sidebar <br>collapsing
                    </template>
                    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                    <a class="nav-link hidden-md-down" tooltipPlacement="bottom">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <!-- shown on xs & sm screen. collapses and expands navigation -->
                    <a (click)="toggleSidebar('collapse')" class="hidden-lg-up nav-link" href="#" data-html="true" title="Show/hide<br>sidebar" data-placement="bottom">
                        <span class="rounded rounded-lg bg-gray text-white hidden-md-up"><i class="fa fa-bars fa-lg"></i></span>
                        <i class="fa fa-bars fa-lg hidden-sm-down"></i>
                    </a>
                </li>
                <li class="nav-item ml-sm hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-refresh fa-lg"></i></a></li>
                <li class="nav-item ml-n-xs hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-times fa-lg"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-md-up">
                <li class="nav-item">
                    <!-- toggles chat -->
                    <a class="nav-link" href="#">
                        <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
                    </a>
                </li>
            </ul>
            <a class="navbar-brand hidden-md-up" [routerLink]=" ['/app/dashboard'] ">
                <i class="fa fa-circle text-gray mr-n-sm"></i>
                <i class="fa fa-circle text-warning"></i>
                &nbsp;
                Config.Name
                &nbsp;
                <i class="fa fa-circle text-warning mr-n-sm"></i>
                <i class="fa fa-circle text-gray"></i>
            </a>
        </div>

        <!-- this part is hidden for xs screens -->
        <div class="collapse navbar-collapse">
            <!-- search form! link it to your search server -->
            <form class="navbar-form pull-xs-left" role="search">
                <div class="form-group">
                    <div class="input-group input-group-no-border">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
                        <input class="form-control" type="text" placeholder="Search Dashboard">
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-notifications"
                       id="notifications-dropdown-toggle" data-toggle="dropdown">
					<span class="thumb-sm avatar pull-xs-left">
						<img class="img-circle" src="assets/img/people/a5.jpg" alt="...">
					</span>
                        &nbsp;
                        Philip <strong>Smith</strong>&nbsp;
					<span class="circle bg-warning fw-bold">
						13
					</span>
                        <b class="caret"></b>
                    </a>
                    <!-- ready to use notifications dropdown. inspired by smartadmin template.
                                 consists of three components:
                                 notifications, messages, progress. leave or add what's important for you.
                                 uses Sing's ajax-load plugin for async content loading. See #load-notifications-btn -->
                    <div notifications class="dropdown-menu dropdown-menu-right animated animated-fast fadeInUp"
                    ></div>
                </li>
                <li class="nav-item dropdown">
                    <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; My Account</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" [routerLink]=" ['/error'] ">Calendar</a></li>
                        <li><a class="dropdown-item" [routerLink]=" ['/error'] ">Inbox &nbsp;&nbsp;<span class="badge label-pill bg-danger text-white animated bounceIn">9</span></a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="toggle-chat">
                        <i class="fa fa-globe fa-lg"></i>
                    </a>
                    <div id="chat-notification" class="chat-notification hide">
                        <div class="chat-notification-inner">
                            <h6 class="title">
				  <span class="thumb-xs">
					  <img src="assets/img/people/a6.jpg" class="img-circle mr-xs pull-xs-left">
				  </span>
                                Jess Smith
                            </h6>
                            <p class="text">Hi there! <br> This is a completely new version of Sing App <br> built with <strong class="text-danger">Angular 2.0 Final Release</strong> </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top: 70px;" *ngIf="complexForm != null">
    <form  [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)" class="form-two-cloumn">
    <div class="row customer-overview">
        <div class="col-md-4 customer-overview-label">
            <h5><strong>Thông tin nhân viên</strong></h5>
        </div>
        <div class="col-md-8 customer-overview-info">
            <div class="section">
                <div class="items over-view">
                    <div class="col-md-6 info-em">
                        <label class="control-label">Tên đăng nhập</label>
                        <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập..." formControlName="username" [(ngModel)]="model.username" #username>
                        <div *ngIf="complexForm.controls['username'].hasError('required') && complexForm.controls['username'].touched" class="alert alert-danger danger-sm">Bạn vui lòng điền tên đăng nhập</div>
                    </div>
                    <div class="col-md-6 info-em">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control" name="email" placeholder="Email..." formControlName="email" [(ngModel)]="model.email" #email>
                        <div *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched" class="alert alert-danger danger-sm">Bạn vui lòng đúng định dạng email</div>
                    </div>
                </div>
                <div class="items">
                    <div class="form-group over-add">
                        <label class="control-label">Tên nhân viên</label>
                        <input type="text" class="form-control" name="name" placeholder="Tên nhân viên..." formControlName="name" [(ngModel)]="model.name" #name>
                    </div>
                    <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" class="alert alert-danger">Bạn vui lòng điền tên đầy đủ</div>
                </div>
                <div class="items over-view">
                    <div class="col-md-6 info-em">
                        <label class="control-label">Mật khẩu</label>
                        <input type="password" class="form-control" name="password" placeholder="Mật khẩu..." formControlName="password" [(ngModel)]="model.password_hash" #password>
                        <div *ngIf="complexForm.controls['password'].touched && !complexForm.controls['password'].valid" class="alert alert-danger danger-sm">Password phải từ 6 kí tự trở lên</div>
                    </div>
                    <div class="col-md-6 info-em">
                        <label class="control-label">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" name="repassword" placeholder="Xác nhận mật khẩu..." formControlName="repassword" [(ngModel)]="model.password_re" #repassword>
                        <div *ngIf="complexForm.controls['repassword'].touched && !complexForm.controls['repassword'].valid" class="alert alert-danger danger-sm">Password phải từ 6 kí tự trở lên</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row customer-overview">
        <div class="col-md-4 customer-overview-label">
            <h5><strong>Địa chỉ</strong></h5>
        </div>
        <div class="col-md-8 customer-overview-info">
            <div class="section">
                <div class="items over-view">
                    <div class="col-md-6 flict">
                        <label class="control-label policy" >Tỉnh/Thành phố</label>
                        <div class="input-group sel-op">
                           <pos-dropdown id="select-province" [linkData]="'http://api-customer.nhabuon.vn/v1/utility/get-province'" [selectId]="selectedProvince" (valueChanged)="onChangeSelectProvince(selectedProvince = $event)" [width]="327" [theme]="'bootstrap'" [firstSelectOption]="'false'" [placeholder]="'Chọn Tỉnh/Thành phố'" ></pos-dropdown>
                        </div>
                        <div *ngIf="message" class="alert alert-danger danger-pdw" >
                            <strong>{{message}}</strong>
                        </div>
                    </div>
                    <div class="col-md-6 flict">
                        <label class="control-label policy" >Quận/Huyện</label>
                        <div class="input-group sel-op" >
                           <pos-dropdown id="select-district" [linkData]="'http://api-customer.nhabuon.vn/v1/utility/get-district'" [selectId]="selectedDistrict" (valueChanged)="onChangeSelectDistrict(selectedDistrict = $event)"  [theme]="'bootstrap'" [width]="327"  [firstSelectOption]="'false'" [placeholder]="'Chọn Quận/Huyện'" parentId="select-province"  ></pos-dropdown>
                        </div>
                        <div *ngIf="message" class="alert alert-danger danger-pdw">
                            <strong>{{message}}</strong>
                        </div>
                    </div>
                </div>
                <div class="items over-view">
                    <div class="col-md-6 flict">
                        <label class="control-label policy" >Xã/Phường/Thị trấn</label>
                        <div class="input-group sel-op" >
                            <pos-dropdown [linkData]="'http://api-customer.nhabuon.vn/v1/utility/get-ward'" [selectId]="selectedWard" (valueChanged)="onChangeSelectWard(selectedWard = $event)" [theme]="'bootstrap'" [firstSelectOption]="'false'" [placeholder]="'Chọn Xã/Phường'" [width]="327" parentId="select-district" ></pos-dropdown>
                        </div>
                        <div *ngIf="message" class="alert alert-danger danger-pdw">
                            <strong>{{message}}</strong>
                        </div>
                    </div>
                    <div class="col-md-6 over-label over-right">
                        <label class="control-label" >Điện thoại</label>
                        <div class="input-group ">
                            <input id="phone" type="text" name="phone" class="form-control" placeholder="Phone" formControlName="phone" [(ngModel)]="model.phone" #phone>
                        </div>
                        <div *ngIf="complexForm.controls['phone'].touched && !complexForm.controls['phone'].valid" class="alert alert-danger danger-sm">Bạn vui lòng điền đúng định dạng số điện thoại</div>
                    </div>
                </div>
                <div class="items">
                    <div class="form-group over-add">
                        <label class="control-label">Địa chỉ</label>
                        <input type="text" name="address" class="form-control" placeholder="Số nhà, Tên đường..." formControlName="address" [(ngModel)]="model.address" #address>
                    </div>
                    <div *ngIf="complexForm.controls['address'].hasError('required') && complexForm.controls['address'].touched" class="alert alert-danger">Bạn vui lòng điền địa chỉ</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row customer-overview">
        <div class="col-md-4 customer-overview-label">
            <h5><strong>Quyền nhân viên</strong></h5>
        </div>
        <div class="col-md-8 customer-overview-info">
            <div class="section">
                <div class="items over-view">
                    <label class="control-label" >Quyền nhân viên</label>
                    <div>
                        <select multiple class="form-control"(change)="change($event.target.options)" #select>
                            <option value="0">Chọn quyền </option>
                            <option value="1">Quyền quản trị</option>
                            <option value="2">Quyền quản lý cửa hàng</option>
                            <option value="3">Quyền quản nhân viên</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="save-customer">
        <button type="submit" class="btn btn-success" [disabled]="!complexForm.valid">Thêm nhân viên mới</button>
    </div>
    </form>
</div>
<div id="loader" *ngIf="(complexForm==null)"></div>