<div class="js-sidebar-content">
	<header class="logo hidden-sm-down">
		<a href="index.html">POS</a>
	</header>
	<div class="sidebar-status hidden-md-up">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="thumb-sm avatar pull-xs-right">
				<img class="img-circle" src="assets/img/people/a5.jpg" alt="...">
			</span>
			<!-- .circle is a pretty cool way to add a bit of beauty to raw data. should be used with bg-* and text-* classes for colors -->
			<span class="circle bg-warning fw-bold text-gray-dark">
				13
			</span>
			&nbsp;
			Philip <strong>Smith</strong>
			<b class="caret"></b>
		</a>
		<!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
	</div>
	<!-- main notification links are placed inside of .sidebar-nav -->
	<ul class="sidebar-nav">
		<li>
			<a [routerLink]=" ['/san-pham-moji'] ">
				<span class="icon">
				<i class="fa fa-tag"></i>
				</span>
				Sản phẩm
			</a>
		</li>
		<li>
			<a [routerLink]=" ['/nhu-cau-nhap-hang'] ">
				<span class="icon">
					<i class="fa fa-tags"></i>
				</span>
				Nhu cầu nhập hàng
			</a>
		</li>
		<li>
			<a [routerLink]=" ['/canh-bao-nhap-hang'] ">
				<span class="icon">
					<i class="fa fa-tags"></i>
				</span>
				Cảnh báo nhập hàng
			</a>
		</li>
	</ul>
	<div class="dropup show" style="position: absolute; left: 0; bottom: 0; width: 100%" >
		<a class="btn btn-secondary dropdown-toggle" style="border-radius: 0;width: 100%;background: #242424;color: white;border: none;border-top: 1px solid wheat;" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{users.name}}</a>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-left: 20px;" >
			<li class="dropdown-item" [routerLink]="['/tai-khoan//cap-nhat']">Thông tin tài khoản</li>
			<li class="dropdown-item" [routerLink]="['/dang-xuat']">Đăng xuất</li>
		</ul>
	</div>
</div>