<div class="page-controls navbar navbar-dashboard">
    <div class="container-fluid">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <template #sidebarToggleTooltip>
                        Turn on/off <br> sidebar <br>collapsing
                    </template>
                    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                    <a class="nav-link hidden-md-down" tooltipPlacement="bottom">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <!-- shown on xs & sm screen. collapses and expands navigation -->
                    <a (click)="toggleSidebar('collapse')" class="hidden-lg-up nav-link" href="#" data-html="true" title="Show/hide<br>sidebar" data-placement="bottom">
                        <span class="rounded rounded-lg bg-gray text-white hidden-md-up"><i class="fa fa-bars fa-lg"></i></span>
                        <i class="fa fa-bars fa-lg hidden-sm-down"></i>
                    </a>
                </li>
                <li class="nav-item ml-sm hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-refresh fa-lg"></i></a></li>
                <li class="nav-item ml-n-xs hidden-sm-down"><a class="nav-link" href="#"><i class="fa fa-times fa-lg"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-md-up">
                <li class="nav-item">
                    <!-- toggles chat -->
                    <a class="nav-link" href="#">
                        <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
                    </a>
                </li>
            </ul>
            <a class="navbar-brand hidden-md-up" [routerLink]=" ['/app/dashboard'] ">
                <i class="fa fa-circle text-gray mr-n-sm"></i>
                <i class="fa fa-circle text-warning"></i>
                &nbsp;
                Config.Name
                &nbsp;
                <i class="fa fa-circle text-warning mr-n-sm"></i>
                <i class="fa fa-circle text-gray"></i>
            </a>
        </div>

        <!-- this part is hidden for xs screens -->
        <div class="collapse navbar-collapse">
            <!-- search form! link it to your search server -->
            <form class="navbar-form pull-xs-left" role="search">
                <div class="form-group">
                    <div class="input-group input-group-no-border">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
                        <input class="form-control" type="text" placeholder="Search Dashboard">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid has-breadcrumb">
    <div class="row">
        <div class="col-lg-12 col-xs-12 no-padding">
            <section class="widget " widget>
                <div class="widget-body">
                    <div class="filter row no-margin">
                        <button type="button" class="btn filter-product col-md-2 no-padding" [popover]="filterProductPopover">Lọc sản phẩm <i class="fa fa-caret-down" aria-hidden="true" title="Toggle dropdown menu"></i></button>
                        <popover-content #filterProductPopover title="Lọc sản phẩm theo:" placement="auto bottom" [closeOnClickOutside]="true" [animation]="true">
                            <form class="clearfix" [formGroup]="fillterForm" (ngSubmit)="onFillter(fillterForm)">
                                <div class="add-filter">
                                    <select class="txt-trade-id form-control" formControlName="type" name="{{filterParam}}" (change)="onChange($event)" style="padding: 0px 7px; margin-bottom: 7px; float:left; margin-right: 5px;">
                                        <option value="0">Lọc theo...</option>
                                        <option value="name">Tên</option>
                                        <option value="company_id">Tên công ty</option>
                                        <option value="ward_id">Xã/Phường</option>
                                        <option value="district_id">Quận/Huyện</option>
                                        <option value="province_id">Tỉnh/Thành phố</option>
                                    </select>
                                </div>
                                <div class="add-filter" *ngIf="addElement">
                                    <select class="txt-trade-id form-control" formControlName="value" name="shipping_type" style="padding: 0px 7px; margin-bottom: 7px; float:left; margin-right: 5px;">
                                        <option *ngFor="let param of dataFillter" value="{{param.name}}">{{param.name}}</option>
                                    </select>
                                </div>
                                <input *ngIf="addElement" type="submit" class="btn btn-default" value="Lọc" />
                            </form>
                        </popover-content>
                        <div class="col-md-9 no-padding">
                            <div class="input-group">
                                <span class="input-group-addon search-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                                <input type="text" class="input-search form-control" click="" placeholder="Tìm kiếm sản phẩm">
                            </div>
                        </div>
                    </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Tên</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><input class="form-control" [(ngModel)]="name" name="name" style="width: 200px"></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of datas; let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td><a class="glyphicon glyphicon-pencil" (click)="onEdit(item.id)"></a></td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </section>
        </div>
    </div>
</div>
