@import "../../../../node_modules/dropzone/dist/dropzone";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../scss/variables";
@import "../../scss/mixins";


.button-panel {
  margin-bottom: 10px;
}
.dropzone{
  border: 2px dashed #ccc;
  border-radius: 5px;
}