<div class="page-controls navbar navbar-dashboard">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" [routerLink]=" ['/dashboard']" >Home</a>
        <span class="breadcrumb-item">Cảnh báo nhập hàng</span>
    </nav>
</div>



<div class="container-fluid has-breadcrumb">
	<div class="row">
		<div class="col-lg-12">
			<section class="widget" widget>
				<div class="widget-body">
					<pos-table
                        [settings]="settings"
                        [data]="data"
                        (pageChanged)="pageChanged($event)"
                        (sortChanged)="sortChanged($event)"
                        (filterChanged)="filterChanged($event)">
					</pos-table>
				</div>
			</section>
		</div>
	</div>
</div>
<div id="loader" *ngIf="showLoading"></div>