<div class="row customer-overview">
    <div class="col-md-4 customer-overview-label">
        <h5><strong>Customer overview</strong></h5>
    </div>
    <div class="col-md-8 customer-overview-info">
        <div class="section">
            <div class="items over-view">
                <div class="col-md-6 over-label over-left">
                    <label class="control-label" >First Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Pos">
                    </div>
                </div>
                <div class="col-md-6 over-label over-right">
                    <label class="control-label" >Last Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="System">
                    </div>
                </div>
            </div>

            <div class="items">
                <div class="form-group over-add">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control" placeholder="Email...">
                </div>
            </div>

            <div class="items">
                <div class="abc-checkbox abc-checkbox-primary">
                    <input id="checkbox2" type="checkbox" checked>
                    <label for="checkbox2">
                        Customer accepts marketing
                    </label>
                </div>
                <div class="abc-checkbox abc-checkbox-primary">
                    <input id="checkbox3" type="checkbox" checked>
                    <label for="checkbox3">
                        Customer is tax exempt
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row customer-overview">
    <div class="col-md-4 customer-overview-label">
        <h5><strong>Address</strong></h5>
        <p>The primary address of this customer</p>
    </div>
    <div class="col-md-8 customer-overview-info">
        <div class="section">
            <div class="items over-view">
                <div class="col-md-6 over-label over-left">
                    <label class="control-label" >First Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Pos">
                    </div>
                </div>
                <div class="col-md-6 over-label over-right">
                    <label class="control-label" >Last Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="System">
                    </div>
                </div>
            </div>
            <div class="items over-view">
                <div class="col-md-6 over-label over-left">
                    <label class="control-label" >Company</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Company">
                    </div>
                </div>
                <div class="col-md-6 over-label over-right">
                    <label class="control-label" >Phone</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="0912345678">
                    </div>
                </div>
            </div>

            <div class="items over-view">
                <div class="col-md-6 over-label over-left">
                    <label class="control-label policy" >Tỉnh/Thành phố</label>
                    <div class="input-group sel-op" >
                        <pos-dropdown id="select-province" [linkData]="'http://api-customer.nhabuon.vn/v1/utility/get-province'" [theme]="'bootstrap'" [width]="315" [firstSelectOption]="'false'" [placeholder]="'Chọn Tỉnh/Thành phố'"></pos-dropdown>
                    </div>
                </div>
                <div class="col-md-6 over-label over-right">
                    <label class="control-label policy" >Quận/Huyện</label>
                    <div class="input-group sel-op" >
                        <pos-dropdown id="select-district" [linkData]="'http://api-customer.nhabuon.vn/v1/utility/get-district'" [theme]="'bootstrap'" parentId="select-province" [width]="315"  [firstSelectOption]="'false'" [placeholder]="'Chọn Quận/Huyện'"></pos-dropdown>
                    </div>
                </div>
            </div>

            <div class="items over-view">
                <div class="col-md-6 over-label over-left">
                    <label class="control-label policy" >Xã/Phường/Thị trấn</label>
                    <div class="input-group sel-op" >
                        <pos-dropdown [linkData]="'http://api-customer.nhabuon.vn/v1/utility/get-ward'" [theme]="'bootstrap'" parentId="select-district" [firstSelectOption]="'false'" [placeholder]="'Chọn Xã/Phường'" [width]="315"></pos-dropdown>
                    </div>
                </div>
            </div>

            <div class="items">
                <div class="form-group over-add">
                    <label class="control-label">Địa chỉ</label>
                    <input type="text" class="form-control" placeholder="Số nhà, Tên đường...">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row customer-overview">
    <div class="col-md-4 customer-overview-label">
        <h5><strong>Notes</strong></h5>
        <p>Enter any extra notes relating to this customer</p>
    </div>
    <div class="col-md-8 customer-overview-info">
        <div class="section">
            <div class="items">
                <div class="form-group over-add">
                    <label class="control-label">Note</label>
                    <input type="text" class="form-control" placeholder="Add a note to customer...">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row customer-overview">
    <div class="col-md-4 customer-overview-label">
        <h5><strong>Tags</strong></h5>
        <p>Tags can be used to categorize customers</p>
    </div>
    <div class="col-md-8 customer-overview-info">
        <div class="section">
            <div class="items">
                <div class="form-group over-add">
                    <label class="control-label">Tags</label>
                </div>
                <div class="form-group over-add pos-tag" *ngFor="let tag of tags; let i=index">
                    <span class="pos-tag-info pos-tag-color" *ngFor="let attr of tag.value" >
                        <span class="pos-tag-label">{{attr}}</span>
                        <span class="pos-tag-remove" (click)="removeTags(attr,i)">×</span>
                    </span>
                    <input type="text" class="form-control pos-tag-input" (change)="addTag($event,i)" data-toggle="tooltip" placeholder="Input Tags">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="save-customer">
    <button type="button" class="btn btn-success">Save Customer</button>
</div>