.col-md-8.customer-overview-info {
    background: white;
    margin-left: -30px;
    margin-top: -25px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
div.section{
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
}
div.items{
   // border-bottom: 1px solid #ebeef0;
    overflow: hidden;
    padding-left: 30px;
    padding-top: 15px;
}
.row.customer-overview{
    border-bottom: 1px solid #d3dbe2;
    margin-bottom: 35px;
}
.over-label {
    float: left;
}
.over-label.over-right {
    float: right;
}
.over-label.over-left {
    margin-left: -30px;
}
.form-group.over-add {
    margin-left: -17px;
    width: 100%;
}
.col-md-4.customer-overview-label {
    margin-top: 10px;
}
.save-customer{
    float: right;
    margin-right: 0px;
    margin-top: -20px;
}
.abc-checkbox.abc-checkbox-primary {
    margin-left: -33px;
}
/*            CSS Tags                   */
.pos-tag {
    position: relative;
    border: 1px solid rgba(51, 51, 51, 0.3);
    //background-color: white;
    border-radius: 3px;
    padding: 5px 1px;
}


.pos-tag-info {
    border: 1px solid #ffffff;
    position: relative;
    padding: 5px 4px;
}

.pos-tag-label {
    //color: white;
    font-family: sans-serif;
}
.pos-tag-remove {
    //color: white;
    cursor: pointer;
}
.pos-tag-input {
    border: none !important;
    //background: transparent;
    outline:none !important;
    width: 20%;
}
.pos-tag-color{
    background-color: #00b3ee;
}

.pos-tag-input:focus,.pos-tag-input:active  {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none !important;
    //border-color: white;
    border: none !important;
}

.plus-tag {
    font-size: 10px;
    line-height: 2;
    padding-right: 6px;
    padding-left: 3px;
}








