@import "../../scss/variables";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../scss/select2-variables";
@import "../../../../node_modules/select2/src/scss/core";
@import "../../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";

.sort{
  cursor: pointer;
}
.table tr th.hidden1{
  display: none !important;
}
//.table tr th:last-child, .table tr td:last-child{
//  text-align: right;
//}

