
<table class="table">
    <thead>
    <tr>
        <th
                *ngFor="let head of th"
                (click)="(head.sort)?changeSort(head.sort.attribute):''"
                [ngClass]="(head.sort)?'sort':''"
                [ngStyle]="head.style"
        >
            {{head.label}}
            <i class="glyphicon glyphicon-menu-down" *ngIf="head.order=='desc'"></i>
            <i class="glyphicon glyphicon-menu-up" *ngIf="head.order=='asc'"></i>
        </th>
    </tr>
    <tr  #selector>
        <th *ngFor="let filter of rowsFilter" [ngClass]="(filter == 'true')?'':'hidden1'">
            <input class="form-control" value="{{filter.value}}" name="{{filter.attribute}}" type="text" *ngIf="filter.type=='input'" (change)="changeFilter($event)" >
            <!--<select2 [value]="filter.value" [data]="filter.data" *ngIf="filter.type=='dropdown'" [options]="{'name':filter.attribute, 'placeholder':'Tỉnh/Thành Phố'}" [width]="200"  (valueChanged)="changeFilter($event,ele)" #ele></select2>-->
            <select class="filter-select" *ngIf="filter.type=='dropdown'" name="{{filter.attribute}}">
                <option *ngFor="let sel of filter.data" value="{{sel.id}}" [attr.selected]="(sel.id==filter.value)?true:null">{{sel.text}}</option>
            </select>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows">
        <td *ngFor="let dataRow of row" [ngStyle]="dataRow.style">
            <span *ngIf="dataRow.format == false">{{dataRow.value}}</span>
            <html-outlet [html]="dataRow.value" *ngIf="dataRow.format == 'raw'"></html-outlet>
        </td>
    </tr>
    </tbody>
</table>
<pagination
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        [maxSize]="maxSize"
        class="pagination-sm"
        [boundaryLinks]="true"
        (pageChanged)="changePage($event)"
        [itemsPerPage]="itemsPerPage"
        previousText="Trước"
        nextText="Sau"
        firstText="Đầu"
        lastText="Cuối"
        *ngIf="totalItems > itemsPerPage "
>
</pagination>