<div class="page-controls navbar navbar-dashboard">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" [routerLink]=" ['/dashboard']" >Home</a>
        <a class="breadcrumb-item" [routerLink]=" ['/phieu-chuyen-kho']" >Danh sách phiếu</a>
        <span class="breadcrumb-item active">Phiếu chuyển kho</span>
        <span class="breadcrumb-item active" *ngIf="couponId">Chi tiết phiếu {{couponId}}</span>
    </nav>
</div>

<div class="container-fluid" style="padding-top: 70px;" *ngIf="(couponForm!=null)">
    <simple-notifications [options]="optionsNoti"></simple-notifications>
    <form class="form-two-cloumn" [formGroup]="couponForm" (ngSubmit)="onSubmit(couponForm.value)">
        <div class="row customer-overview">
            <div class="col-md-4 customer-overview-label">
                <h5><strong>Phiếu chuyển kho</strong></h5>
            </div>
            <div class="col-md-8 customer-overview-info">
                <div class="section">
                    <div class="items over-view row">
                        <div class="col-md-6 info-em"  style="float: left" >
                            <label class="control-label">Kho chuyển đi</label>
                            <div class="input-group sel-op" #selector>
                                <select class="filter-select" *ngIf="exampleWarehouse" name="warehouse_from_id">
                                    <option *ngFor="let ware of exampleWarehouse" value="{{ware.id}}" [attr.selected]="(ware.id==model.warehouse_from_id)?true:null">{{ware.text}}</option>
                                </select>
                            </div>
                            <div *ngIf="(model.warehouse_from_id == 0 && message)" class="alert alert-danger danger-pdw" >
                                <strong>{{message}}</strong>
                            </div>
                        </div>
                        <div class="col-md-6 info-em" style="float: left" >
                            <label class="control-label">Kho chuyển đến</label>
                            <div class="input-group sel-op" #selector>
                                <select class="filter-select" *ngIf="exampleWarehouse" name="warehouse_to_id">
                                    <option *ngFor="let ware of exampleWarehouse" value="{{ware.id}}" [attr.selected]="(ware.id==model.warehouse_to_id)?true:null">{{ware.text}}</option>
                                </select>
                            </div>
                            <div *ngIf="(model.warehouse_to_id == 0 && message)" class="alert alert-danger danger-pdw" >
                                <strong>{{message}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row customer-overview">
            <div class="col-md-4 customer-overview-label">
                <h5><strong>Thông tin chuyển kho</strong></h5>
            </div>
            <div class="col-md-8 customer-overview-info">
                <div class="section">
                    <div class="items over-view row">
                        <div class="col-md-6 info-em">
                            <label class="control-label">Ngày chuyển kho</label>
                            <div class='input-group date' id="datepicker1"  data-provide="datepicker" data-date-format="dd-mm-yyyy" (click)="validateNumber()">
                                <input formControlName="transport_time" [(ngModel)]="model.transport_time" type='text' class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 info-em">
                            <label class="control-label">Nhân viên</label>
                            <div class="input-group sel-op" #selector>
                                <select class="filter-select" *ngIf="exampleUser" name="user_id">
                                    <option *ngFor="let user of exampleUser" value="{{user.id}}" [attr.selected]="(user.id==model.user_id)?true:null">{{user.text}}</option>
                                </select>
                            </div>
                            <div *ngIf="(model.user_id == 0 && message)" class="alert alert-danger danger-pdw" >
                                <strong>{{message}}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="items over-view row">
                        <div class="col-md-12 info-em">
                            <label class="control-label">Ghi chú</label>
                            <textarea name="notes" class="form-control"  rows="3" formControlName="notes" [(ngModel)]="model.notes" #notes></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row customer-overview"style="border-bottom: none !important;">
            <button type="button" class="btn btn-info pull-right" data-toggle="modal" style="float: left; margin-left: 20px;height: 40px;margin-top: 20px;"
                    data-target="#myModal" (click)="onClickOpenModal()">Chọn sản phẩm
            </button>
            <div class="form-group input-field col ">
                <label class="control-label">Nhập ID, Mã hoặc Tên sản phẩm</label>
                <input id="country" type="text" class="validate filter-input form-control" formControlName="search" [(ngModel)]=query (keyup)=filter()>
            </div>
            <div class="suggestions" *ngIf="filteredList.length > 0">
                <ul *ngFor="let item of filteredList">
                    <li>
                        <a (click)="select(item)"> ID : {{item.id}} -- ID Nhanh : {{item.id_nhanh}} -- Mã :
                            {{item.sku}} -- Tên : {{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 customer-overview-label">
                <div class="chose_product">
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Chọn sản phẩm</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <section class="widget" widget>
                                                <div class="widget-body">
                                                    <pos-table
                                                            [settings]="settings"
                                                            [data]="data"
                                                            (pageChanged)="pageChanged($event)"
                                                            (sortChanged)="sortChanged($event)"
                                                            (filterChanged)="filterChanged($event)">
                                                    </pos-table>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="widget" widget>
                    <div class="widget-body">
                        <pos-table
                                [settings]="settings2"
                                [data]="list_product_id"
                                [changeComponent]="changeComponent"
                                (pageChanged)="pageChanged($event)"
                                (sortChanged)="sortChanged($event)"
                                (filterChanged)="filterChanged($event)"
                        >
                        </pos-table>
                    </div>
                </section>
            </div>
        </div>

        <div *ngIf="(list_product_id && list_product_id.length == 0 && warning)" class="alert alert-danger danger-pdw" >
            <strong>{{warning}}</strong>
        </div>

        <div class="save-customer" *ngIf="verify_status != 1">
            <button type="submit" class="btn btn-success">
                {{(!couponId)?'Tạo phiếu':'Lưu'}}
            </button>
            <button type="button" class="btn btn-success" (click)="onVerify(couponId)" *ngIf="couponId">Duyệt</button>
        </div>
    </form>
</div>
<div id="loader" *ngIf="(couponForm==null)"></div>