//@import "../../scss/form/two_column";
@import "../../../../node_modules/ng2-datetime/src/vendor/bootstrap-datepicker/bootstrap-datepicker3.min";

.input-group-addon {
  padding-bottom: 3px !important;
}
.col-md-8.customer-overview-info {
  background: white;
  margin-left: -30px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
div.section{
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}
div.items{
  padding-left: 30px;
  padding-top: 15px;
}
.row.customer-overview{
  border-bottom: 1px solid #d3dbe2;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.over-label {
  float: left;
}
.over-label.over-right {
  float: right;
}
.over-label.over-left {
  margin-left: -30px;
}
.form-group.over-add {
  margin-left: -17px;
  width: 100%;
}
.col-md-4.customer-overview-label {
  margin-top: 10px;
  padding-left: 15px;
}
.save-customer{
  float: right;
  margin-right: 0px;
  margin-top: 10px;
}
.abc-checkbox.abc-checkbox-primary {
  margin-left: -33px;
}
.col-md-6.flict {
  float: left;
}
label.control-label.policy {
  margin-top: 0px;
}

.items.over-view {
  padding-left: 0 !important;
}
.alert.alert-danger {
  margin-top: 10px;
  width: 100%;
}
.alert.alert-danger.danger-sm {
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
}
.alert.alert-danger.danger-pdw {
  margin-top: 10px;
  margin-left: 0;
  width: 328px;
}
.store{
  margin-top: -15px;
}
.col-md-6.info-em {
  float: left;
}
.modal-content {
  width: 1100px;
}
.form-group.total-money {
  float: right;
}
div.input-group-addon {
  padding: 3px;
}


.suggestions{
  position: absolute;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #00b3ee;
  background-color: white;
  display: block;
  overflow: auto;
  height: 190px;
  width: 40%;
  overflow-y: scroll;
  border-radius: 2px;
  margin-left: 502px;
}
.suggestions ul{
  list-style: none;
}

#suggest::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#suggest::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#suggest::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #c0bdb3;
}

.input-field.col {
  margin-left: 350px;
  width: 40%;
}

.dropdown-menu {
  //left: -14px !important;
  min-width: 50px !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/" !important;
}
.page-controls.navbar.navbar-dashboard {
  padding: 15px 17px;
}
a.breadcrumb-item {
  color: #555555 !important;
}

.input-group-addon {
  padding-bottom: 3px !important;
}
div.input-group-addon {
  width: 40%;
}
.input-group-btn .dropdown-menu {
  left: -14px !important;
  min-width: 50px !important;
}






