<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
                <h5 class="widget-login-logo animated fadeInUp">
                    <i class="fa fa-circle text-gray"></i>
                    sing
                    <i class="fa fa-circle text-warning"></i>
                </h5>
                <section class="widget widget-login animated fadeInUp">
                    <header>
                        <h3>Đăng ký</h3>
                    </header>
                    <div class="widget-body">
                        <p class="alert-warning"><strong>{{message}}</strong>

                        </p>
                    <div class="widget-body">
                        <form class="login-form mt-lg" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                            <div class="form-group">
                                <input type="text" class="form-control"  id="phone" placeholder="Số điện thoại" [(ngModel)]="user.phone" name="phone" pattern="[0-9]{10,}"  required oninvalid="setCustomValidity('Số điện thoại chưa đúng định dạng ! ')"
                                       onchange="try{setCustomValidity('')}catch(e){}" #phone>
                            </div>
                            <p class="alert-warning"><strong>{{mess}}</strong></p>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control"  id="code" placeholder="Mã xác nhận" [(ngModel)]="user.code" name="username"  required oninvalid="setCustomValidity('Mã xác nhận chưa đúng ! ')"
                                               onchange="try{setCustomValidity('')}catch(e){}">
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" (click)="getcode(phone.value)" class="btn btn-danger btn-sm">Lấy mã xác nhận</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"  id="username" placeholder="Tên đăng nhập" [(ngModel)]="user.username" name="username"  required oninvalid="setCustomValidity('Tên đăng nhập là bắt buộc !')"
                                       onchange="try{setCustomValidity('')}catch(e){}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="password" type="password" placeholder="Mật khẩu" [(ngModel)]="user.password" name="password" pattern=".{8,}" required oninvalid="setCustomValidity('Mật khẩu ít nhất 8 ký tự')"
                                       onchange="try{setCustomValidity('')}catch(e){}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="email" type="email" placeholder="Email" [(ngModel)]="user.email" name="email"  required oninvalid="setCustomValidity('Email chưa đúng định dạng !')"
                                       onchange="try{setCustomValidity('')}catch(e){}">
                            </div>
                            <div class="clearfix">
                                <div class="btn-toolbar pull-xs-right m-t-1">
                                    <button type="submit" class="btn btn-inverse btn-sm">Đăng ký</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <!--<footer class="page-footer">-->
        <!--2016 &copy; Sing. Admin Dashboard Template.-->
    <!--</footer>-->
</div>
